<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'CONTACTS.ADD_CONTACT.TITLE' | translate}}</h1>

    <span slot="start" [bizyLoading]="loading"></span>

</bizy-toolbar>

<tero-wrapper>

    <bizy-form>

        <bizy-section>

            <bizy-section-center>

                <span class="add-content__picture">

                    <img 
                        height="70"
                        loading="lazy"
                        [src]="picture.value ? IMG_PATH + picture.value : IMG_PATH + DEFAULT_USER_PICTURE"
                        onerror="this.onerror=null; this.src='/assets/img/picture_user.svg'"
                        alt="Imagen de usuario"/>

                    <bizy-button class="add-content__picture__edit-button" (onSelect)="openPicturePopup()">
                        <h6><i class="fa-solid fa-pencil-alt"></i></h6>
                    </bizy-button>

                </span>

                <bizy-tag [type]="BIZY_TAG_TYPE.WARNING" class="contact-form__picture__rating" (onSelect)="openRatingPopup()">
                    <h3>{{rating.value ? (rating.value | bizyAverage : 'value') : 0}}/5 <i class="fa-solid fa-star"></i></h3>
                </bizy-tag>
        
                <bizy-tag *ngIf="rating.value && rating.value.length > 0" (onSelect)="openRatingHistoryPopup()">
                    <h3><i class="fa-regular fa-comment"></i></h3>
                </bizy-tag>

            </bizy-section-center>

        </bizy-section>

        <bizy-input
            #nameInput
            [disabled]="loading"
            [value]="name.value"
            (onChange)="name.setValue($event)">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.NAME' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="name.hasError('required') && nameInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
            <h6 slot="error" *ngIf="name.hasError('minlength') && nameInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
            <h6 slot="error" *ngIf="name.hasError('maxlength') && nameInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
        </bizy-input>
    
        <bizy-input
            #surnameInput
            [disabled]="loading"
            [value]="surname.value"
            (onChange)="surname.setValue($event)">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.SURNAME' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="surname.hasError('required') && surnameInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
            <h6 slot="error" *ngIf="surname.hasError('minlength') && surnameInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
            <h6 slot="error" *ngIf="surname.hasError('maxlength') && surnameInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
        </bizy-input>
    
        <bizy-input
            #phoneInput
            type="tel"
            [disabled]="loading"
            [value]="phone.value"
            (onChange)="phone.setValue($event)">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.PHONE' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="phone.hasError('required') && phoneInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        </bizy-input>
    
        <bizy-input
            type="textarea"
            [disabled]="loading"
            [value]="description.value"
            (onChange)="description.setValue($event)">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.DESCRIPTION' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="description.hasError('maxlength')">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{LONG_TEXT_MAX_LENGTH}}</h6>
        </bizy-input>

        <bizy-input
            #tagsInput
            [disabled]="loading"
            [value]="!tags.value || tags.value.length === 0 ? ('CORE.FORM.FIELD.NO_TAG' | translate) : ''"
            (onSelect)="openTagsPopup()"
            [readonly]="true">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.TAG' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="tags.hasError('required') && tagsInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>

            <bizy-tag slot="prefix" *ngFor="let t of tags.value" [type]="BIZY_TAG_TYPE.INFO">
                <h6>{{t}}</h6>
            </bizy-tag>

        </bizy-input>
    
    </bizy-form>

</tero-wrapper>

<bizy-section class="tero-confirm-buttons">

    <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="goBack()" [disabled]="loading">
        <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
    </bizy-button>

    <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="save()" [disabled]="loading">
        <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
        <h5><i class="fa-solid fa-check"></i></h5>
    </bizy-button>
        
</bizy-section>