<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'SECURITY.SECURITY_GROUP.TITLE' | translate}} {{group || ''}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

</bizy-toolbar>

<div class="tero-wrapper">

    <span class="tero-section">

        <span class="tero-section__end">

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((neighbors
                                                | bizySearch: search : searchKeys
                                                | bizySearch: lotSearch : 'lot'
                                                | bizySearch: surnameSearch : 'surname'
                                                | bizySearch: nameSearch : 'name'
                                                | bizyFilter : '_debt' : filterDebts).length + '/' + neighbors.length) : neighbors.length">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="!isMobile">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </span>

    </span>

    <bizy-table [bizyLoading]="loading">

        <bizy-table-header>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="onSort('lot')">
                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <h6><i class="fa-solid fa-magnifying-glass"></i></h6>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'CORE.FORM.FIELD.LOT' | translate }}</strong></h6>

                        <bizy-filter-section-search-option 
                            [(value)]="lotSearch"
                            (onChange)="refresh()">
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h6><strong>{{'CORE.FORM.FIELD.LOT' | translate}}</strong></h6>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'lot'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('name')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                        
                    <h6><i class="fa-solid fa-magnifying-glass"></i></h6>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'CORE.FORM.FIELD.NAME' | translate }}</strong></h6>

                        <bizy-filter-section-search-option 
                            [(value)]="nameSearch"
                            (onChange)="refresh()">

                            <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
                            
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h6><strong>{{'CORE.FORM.FIELD.NAME' | translate}}</strong></h6>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'name'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('surname')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                        
                    <h6><i class="fa-solid fa-magnifying-glass"></i></h6>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'CORE.FORM.FIELD.SURNAME' | translate }}</strong></h6>

                        <bizy-filter-section-search-option 
                            [(value)]="surnameSearch"
                            (onChange)="refresh()">

                            <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
                            
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h6><strong>{{'CORE.FORM.FIELD.SURNAME' | translate}}</strong></h6>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'surname'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="onSort('_debt')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <h6><i class="fa-solid fa-filter"></i></h6>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'SECURITY.SECURITY_GROUP.FILTER.DEBT.TITLE' | translate }}</strong></h6>

                        <bizy-filter-section-checkbox-option 
                            *ngFor="let debt of filterDebts"
                            [selected]="debt.selected"
                            (onChange)="debt.selected = $event; refresh()">
                            <h5>{{debt.value}}</h5>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>

                <bizy-table-column-arrows [order]="order" [show]="orderBy === '_debt'"></bizy-table-column-arrows>
            </bizy-table-column>

        </bizy-table-header>
    
        <bizy-table-row 
            [ngClass]="{'security-group__table-row--no-debt': !neighbor._debt, 'security-group__table-row--debt': neighbor._debt}"
            *tableFor="let neighbor in: neighbors 
                | bizySearch: search : searchKeys
                | bizySearch: lotSearch : 'lot'
                | bizySearch: surnameSearch : 'surname'
                | bizySearch: nameSearch : 'name'
                | bizyFilter : '_debt' : filterDebts
                | bizyOrderBy: order : orderBy">
    
            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="openRegisterPaymentPopup(neighbor)"><h6>{{neighbor.lot}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="openRegisterPaymentPopup(neighbor)"><h6>{{neighbor.name}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="openRegisterPaymentPopup(neighbor)"><h6>{{neighbor.surname}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="openRegisterPaymentPopup(neighbor)"><bizy-tag [type]="BIZY_TAG_TYPE.DANGER" *ngIf="neighbor._debt"><h6>{{'SECURITY.SECURITY_GROUP.DEBT' | translate}}</h6></bizy-tag></bizy-table-column>

        </bizy-table-row>
    
    </bizy-table>

</div>