:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    --bizy-card-cursor: pointer;
    --bizy-grid-row-height: 6rem;
}

.security-group__card--debt {
    --bizy-card-background-color: var(--light-danger-color);
}

.security-group__card--no-debt {
    --bizy-card-background-color: var(--light-success-color);
}