<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'ECOMMERCE.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig || isNeighbor" (onSelect)="addEcommerceProduct()"><h2><i class="fa-solid fa-square-plus"></i></h2></bizy-button>

</bizy-toolbar>

<tero-wrapper>

    <bizy-section>

        <bizy-section-end>

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((products | bizySearch: search : searchKeys | bizyFilter : 'tags' : filterTags).length + '/' + products.length) : products.length">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="isDesktop">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--success" [disabled]="loading" *ngIf="filterTags && filterTags.length > 0">
    
                <bizy-filter (onChange)="checkFilters($event)">
                    <h6><i class="fa-solid fa-filter"></i></h6>
                    
                    <bizy-filter-section>
                        <h6 slot="header" class="tero--info"><strong>{{ 'CORE.FORM.FIELD.TAG' | translate }}</strong></h6>

                        <bizy-filter-section-checkbox-option 
                            *ngFor="let tag of filterTags | bizyOrderBy : 'asc' : 'value'" 
                            [selected]="tag.selected"
                            (onChange)="tag.selected = $event; refresh()">
                            <h6>{{tag.value}}</h6>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>
            </bizy-button>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </bizy-section-end>

    </bizy-section>
    
    <bizy-grid *ngIf="!loading" class="animated fade-in">

        <bizy-card 
            (onSelect)="selectEcommerceProduct(product)"
            *gridFor="let product of products 
                                        | bizySearch: search : searchKeys
                                        | bizyFilter : 'tags' : filterTags
                                        | bizyOrderBy: order : orderBy">

            <h4 slot="header-start" class="tero--info"><i class="fa-solid fa-cube"></i></h4>

            <h4 slot="header-start" class="tero--info"><strong>{{product.productName}}</strong></h4>

            <bizy-button 
                *ngIf="isMobile"
                slot="header-end"
                class="tero-action tero-action--default ecommerce__card__action"
                (onSelect)="onShare(product); $event.stopPropagation()">
                <i class="fa-solid fa-share-nodes"></i>
            </bizy-button>

            <bizy-button 
                slot="header-end"
                *ngIf="isMobile"
                class="tero-action tero-action--info ecommerce__card__action"
                (onSelect)="onCall(product); $event.stopPropagation()">
                <i class="fa-solid fa-phone"></i>
            </bizy-button>

            <bizy-button 
                slot="header-end"
                class="tero-action tero-action--success ecommerce__card__action"
                (onSelect)="onWhatsapp(product); $event.stopPropagation()">
                <i class="fa-brands fa-whatsapp"></i>
            </bizy-button>

            <span class="ecommerce__card__content">

                <span class="ecommerce__card__content__description" *ngIf="product.description">
                    <h6><i class="fa-regular fa-message"></i></h6>
                    <h6 bizyTooltip [tooltipLineClamp]="3">{{product.description}}</h6>
                </span>

                <span class="ecommerce__card__content__description" *ngIf="product.description">
                    <h6><i class="fa-regular fa-circle-user"></i></h6>
                    <h6 class="tero-text-ellipsis">{{product.contactName}}</h6>
                </span>

                <span class="ecommerce__card__phones__phone" *ngFor="let phone of product._phones">

                    <h6><i class="fa-solid fa-phone"></i></h6>

                    <h6><strong>{{phone}}</strong></h6>

                    <bizy-button class="tero-action tero-action--info" (onSelect)="copyPhone(phone); $event.stopPropagation()"><i class="fa-regular fa-copy"></i></bizy-button>

                </span>
            </span>
            
            <bizy-tag slot="footer-start" [type]="BIZY_TAG_TYPE.INFO" *ngFor="let tag of product.tags"><h6>{{tag}}</h6></bizy-tag>

            <bizy-tag slot="footer-end" *ngIf="product.price"><h4>${{product.price | number : '1.2-2'}}</h4></bizy-tag>

            <bizy-tag slot="footer-end" [type]="BIZY_TAG_TYPE.SUCCESS" *ngIf="product.price === 0"><h6>{{'ECOMMERCE.FREE' | translate}}</h6></bizy-tag>

            <bizy-tag slot="footer-end" [type]="BIZY_TAG_TYPE.WARNING" *ngIf="!product.price && product.price !== 0"><h6>{{'ECOMMERCE.CHECK_PRICE' | translate}}</h6></bizy-tag>

        </bizy-card>

    </bizy-grid>

    <bizy-grid *ngIf="loading" class="animated fade-in">

        <bizy-card *gridFor="let i of products.length > 0 ? products : 30 | bizyRepeat">

            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>

            <bizy-list slot="header-start">

                <bizy-skeleton width="12rem"></bizy-skeleton>

                <bizy-skeleton width="12rem"></bizy-skeleton>

            </bizy-list>

            <bizy-skeleton width="12rem"></bizy-skeleton>

            <bizy-skeleton slot="footer-start" width="12rem"></bizy-skeleton>

            <bizy-skeleton slot="footer-end" width="12rem"></bizy-skeleton>

        </bizy-card>

    </bizy-grid>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.INFO" 
        class="animated fade-in tero-no-matches"
        *ngIf="products.length !== 0 && (products 
                                            | bizySearch: search : searchKeys
                                            | bizyFilter : 'tags' : filterTags).length === 0">
        <h4 class="tero-no-matches__text">{{'CORE.NO_MATCHES' | translate}}</h4>
    </bizy-tag>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.WARNING"
        class="animated fade-in tero-no-matches"
        *ngIf="!loading && products.length === 0">
        <h4 class="tero-no-matches__text">{{'ECOMMERCE.EMPTY' | translate}}</h4>
    </bizy-tag>

</tero-wrapper>