:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    --bizy-card-cursor: pointer;
    --bizy-grid-row-height: 9rem;
}

.ecommerce__card__action {
    align-self: flex-start;
}

.ecommerce__card__title {
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ecommerce__card__content {
    display: flex;
    flex-direction: column;
}

.ecommerce__card__content__description {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    width: 100%;
    overflow: hidden;
}

.ecommerce__card__content__description * {
    color: var(--default-color);
}

.ecommerce__card__phones__phone {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}