<bizy-toolbar class="neighborhood__toolbar">

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'NEIGHBORHOOD.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="showInfo" (onSelect)="showControls = !showControls"><h2><i class="fa-solid fa-mobile-retro"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="showInfo" [bizyLoading]="downloading" (onSelect)="download()"><h2><i class="fa-solid fa-image"></i></h2></bizy-button>

</bizy-toolbar>

<span style="display: none;" class="neighborhood--downloading" *ngIf="downloading"></span>

<div class="neighborhood" [bizyLoading]="loading" #neighborhood>

    <span class="neighborhood__block-row">

        <span class="neighborhood__block" #firstBlock>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[1]" (selected)="showLot(lots[1])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[2]" (selected)="showLot(lots[2])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[3]" (selected)="showLot(lots[3])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[4]" (selected)="showLot(lots[4])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[5]" (selected)="showLot(lots[5])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[6]" (selected)="showLot(lots[6])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[7]" (selected)="showLot(lots[7])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[8]" (selected)="showLot(lots[8])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span *ngIf="!showInfo"></span>
            <h4 *ngIf="showInfo" class="street__icon"><i class="fa-solid fa-building-shield"></i></h4>
            <h5 *ngIf="!downloading">Calle 170 Nte</h5>
            <h4 class="street__icon"><i class="fa-solid fa-person-walking"></i></h4>
        </span>    
        
        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[9]" (selected)="showLot(lots[9])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[10]" (selected)="showLot(lots[10])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[11]" (selected)="showLot(lots[11])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[12]" (selected)="showLot(lots[12])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[13]" (selected)="showLot(lots[13])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[14]" (selected)="showLot(lots[14])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[15]" (selected)="showLot(lots[15])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[16]" (selected)="showLot(lots[16])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[17]" (selected)="showLot(lots[17])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[18]" (selected)="showLot(lots[18])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[19]" (selected)="showLot(lots[19])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[20]" (selected)="showLot(lots[20])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[21]" (selected)="showLot(lots[21])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[22]" (selected)="showLot(lots[22])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[23]" (selected)="showLot(lots[23])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[24]" (selected)="showLot(lots[24])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 171</h5>
            <h4 class="street__icon"><i class="fa-solid fa-xmark"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[25]" (selected)="showLot(lots[25])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[26]" (selected)="showLot(lots[26])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[27]" (selected)="showLot(lots[27])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[28]" (selected)="showLot(lots[28])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[29]" (selected)="showLot(lots[29])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[30]" (selected)="showLot(lots[30])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[31]" (selected)="showLot(lots[31])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[32]" (selected)="showLot(lots[32])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[33]" (selected)="showLot(lots[33])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[34]" (selected)="showLot(lots[34])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[35]" (selected)="showLot(lots[35])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[36]" (selected)="showLot(lots[36])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[37]" (selected)="showLot(lots[37])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[38]" (selected)="showLot(lots[38])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[39]" (selected)="showLot(lots[39])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[40]" (selected)="showLot(lots[40])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 171 Nte</h5>
            <h4 class="street__icon"><i class="fa-solid fa-car"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[41]" (selected)="showLot(lots[41])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[42]" (selected)="showLot(lots[42])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[43]" (selected)="showLot(lots[43])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[44]" (selected)="showLot(lots[44])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[45]" (selected)="showLot(lots[45])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[46]" (selected)="showLot(lots[46])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[47]" (selected)="showLot(lots[47])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[48]" (selected)="showLot(lots[48])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[49]" (selected)="showLot(lots[49])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[50]" (selected)="showLot(lots[50])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[51]" (selected)="showLot(lots[51])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[52]" (selected)="showLot(lots[52])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[53]" (selected)="showLot(lots[53])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[54]" (selected)="showLot(lots[54])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[55]" (selected)="showLot(lots[55])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[56]" (selected)="showLot(lots[56])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 172</h5>
            <h4 #mainEntrance class="street__icon"><i class="fa-solid fa-car"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[57]" (selected)="showLot(lots[57])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[58]" (selected)="showLot(lots[58])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[59]" (selected)="showLot(lots[59])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[60]" (selected)="showLot(lots[60])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[61]" (selected)="showLot(lots[61])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[62]" (selected)="showLot(lots[62])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[63]" (selected)="showLot(lots[63])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[64]" (selected)="showLot(lots[64])"></tero-lot>

            </span>

        </span>

    </span>

    <span class="neighborhood__horizontal-street" style="width: 59rem;">
        <h5>Calle 46 Este</h5>
    </span>

    <span class="neighborhood__block-row">

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[65]" (selected)="showLot(lots[65])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[66]" (selected)="showLot(lots[66])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[67]" (selected)="showLot(lots[67])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[68]" (selected)="showLot(lots[68])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[69]" (selected)="showLot(lots[69])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[70]" (selected)="showLot(lots[70])"></tero-lot>
    
            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 12.6rem;">
            <h5 *ngIf="!downloading">Calle 170 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[71]" (selected)="showLot(lots[71])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[72]" (selected)="showLot(lots[72])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[73]" (selected)="showLot(lots[73])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[74]" (selected)="showLot(lots[74])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[75]" (selected)="showLot(lots[75])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[76]" (selected)="showLot(lots[76])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[77]" (selected)="showLot(lots[77])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[78]" (selected)="showLot(lots[78])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[79]" (selected)="showLot(lots[79])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[80]" (selected)="showLot(lots[80])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[81]" (selected)="showLot(lots[81])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[82]" (selected)="showLot(lots[82])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[83]" (selected)="showLot(lots[83])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[84]" (selected)="showLot(lots[84])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[85]" (selected)="showLot(lots[85])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[86]" (selected)="showLot(lots[86])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 20.6rem;">
            <h5 *ngIf="!downloading">Calle 171</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[87]" (selected)="showLot(lots[87])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[88]" (selected)="showLot(lots[88])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[89]" (selected)="showLot(lots[89])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[90]" (selected)="showLot(lots[90])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[91]" (selected)="showLot(lots[91])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[92]" (selected)="showLot(lots[92])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[93]" (selected)="showLot(lots[93])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[94]" (selected)="showLot(lots[94])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[95]" (selected)="showLot(lots[95])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[96]" (selected)="showLot(lots[96])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[97]" (selected)="showLot(lots[97])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[98]" (selected)="showLot(lots[98])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[99]" (selected)="showLot(lots[99])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[100]" (selected)="showLot(lots[100])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[101]" (selected)="showLot(lots[101])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[102]" (selected)="showLot(lots[102])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[103]" (selected)="showLot(lots[103])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[104]" (selected)="showLot(lots[104])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[105]" (selected)="showLot(lots[105])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[106]" (selected)="showLot(lots[106])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 20.6rem;">
            <h5 *ngIf="!downloading">Calle 171 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[107]" (selected)="showLot(lots[107])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[108]" (selected)="showLot(lots[108])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[109]" (selected)="showLot(lots[109])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[110]" (selected)="showLot(lots[110])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[111]" (selected)="showLot(lots[111])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[112]" (selected)="showLot(lots[112])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[113]" (selected)="showLot(lots[113])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[114]" (selected)="showLot(lots[114])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[115]" (selected)="showLot(lots[115])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[116]" (selected)="showLot(lots[116])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[117]" (selected)="showLot(lots[117])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[118]" (selected)="showLot(lots[118])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[119]" (selected)="showLot(lots[119])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[120]" (selected)="showLot(lots[120])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[121]" (selected)="showLot(lots[121])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[122]" (selected)="showLot(lots[122])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[123]" (selected)="showLot(lots[123])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[124]" (selected)="showLot(lots[124])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[125]" (selected)="showLot(lots[125])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[126]" (selected)="showLot(lots[126])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 20.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 172</h5>
            <span *ngIf="!showInfo"></span>
            <h4 *ngIf="showInfo" class="street__icon"><i class="fa-solid fa-building-shield"></i></h4>
        </span>

        <span class="neighborhood__block" style="align-items: flex-end;">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[127]" (selected)="showLot(lots[127])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[128]" (selected)="showLot(lots[128])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[129]" (selected)="showLot(lots[129])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[130]" (selected)="showLot(lots[130])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[131]" (selected)="showLot(lots[131])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[132]" (selected)="showLot(lots[132])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[133]" (selected)="showLot(lots[133])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[134]" (selected)="showLot(lots[134])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[135]" (selected)="showLot(lots[135])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[136]" (selected)="showLot(lots[136])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[137]" (selected)="showLot(lots[137])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[138]" (selected)="showLot(lots[138])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[139]" (selected)="showLot(lots[139])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[140]" (selected)="showLot(lots[140])"></tero-lot>
    
            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 8.6rem; align-self: flex-end;">
            <h5 *ngIf="!downloading">Calle 172 Nte</h5>
        </span>

        <span class="neighborhood__block" style="align-self: flex-end;">

            <span class="neighborhood__block__column--free" style="height: 8rem;"></span>
        
        </span>

    </span>

    <span class="neighborhood__horizontal-street" style="width: 59rem; position: relative; left: 14.6rem;">
        <h5>Calle 47</h5>
    </span>

    <span class="neighborhood__block-row" style="position: relative; left: 14.6rem;">

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[141]" (selected)="showLot(lots[141])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[142]" (selected)="showLot(lots[142])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[143]" (selected)="showLot(lots[143])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[144]" (selected)="showLot(lots[144])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[145]" (selected)="showLot(lots[145])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[146]" (selected)="showLot(lots[146])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[147]" (selected)="showLot(lots[147])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[148]" (selected)="showLot(lots[148])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[149]" (selected)="showLot(lots[149])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[150]" (selected)="showLot(lots[150])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[151]" (selected)="showLot(lots[151])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[152]" (selected)="showLot(lots[152])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 24.6rem">
            <span></span>
            <h5 *ngIf="!downloading">Calle 171</h5>
            <span *ngIf="!showInfo"></span>
            <h4 *ngIf="showInfo" class="street__icon"><i class="fa-solid fa-building-shield"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">
        
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[153]" (selected)="showLot(lots[153])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[154]" (selected)="showLot(lots[154])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[155]" (selected)="showLot(lots[155])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[156]" (selected)="showLot(lots[156])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[157]" (selected)="showLot(lots[157])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[158]" (selected)="showLot(lots[158])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[159]" (selected)="showLot(lots[159])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[160]" (selected)="showLot(lots[160])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[161]" (selected)="showLot(lots[161])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[162]" (selected)="showLot(lots[162])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[163]" (selected)="showLot(lots[163])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[164]" (selected)="showLot(lots[164])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">
        
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[165]" (selected)="showLot(lots[165])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[166]" (selected)="showLot(lots[166])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[167]" (selected)="showLot(lots[167])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[168]" (selected)="showLot(lots[168])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[169]" (selected)="showLot(lots[169])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[170]" (selected)="showLot(lots[170])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[171]" (selected)="showLot(lots[171])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[172]" (selected)="showLot(lots[172])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[173]" (selected)="showLot(lots[173])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[174]" (selected)="showLot(lots[174])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[175]" (selected)="showLot(lots[175])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[176]" (selected)="showLot(lots[176])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 24.6rem">
            <h5 *ngIf="!downloading">Calle 171 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">
        
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[177]" (selected)="showLot(lots[177])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[178]" (selected)="showLot(lots[178])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[179]" (selected)="showLot(lots[179])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[180]" (selected)="showLot(lots[180])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[181]" (selected)="showLot(lots[181])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[182]" (selected)="showLot(lots[182])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[183]" (selected)="showLot(lots[183])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[184]" (selected)="showLot(lots[184])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[185]" (selected)="showLot(lots[185])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[186]" (selected)="showLot(lots[186])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[187]" (selected)="showLot(lots[187])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[188]" (selected)="showLot(lots[188])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">
        
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[189]" (selected)="showLot(lots[189])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[190]" (selected)="showLot(lots[190])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[191]" (selected)="showLot(lots[191])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[192]" (selected)="showLot(lots[192])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[193]" (selected)="showLot(lots[193])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[194]" (selected)="showLot(lots[194])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[195]" (selected)="showLot(lots[195])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[196]" (selected)="showLot(lots[196])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[197]" (selected)="showLot(lots[197])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[198]" (selected)="showLot(lots[198])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[199]" (selected)="showLot(lots[199])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[200]" (selected)="showLot(lots[200])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 24.6rem">
            <h5 *ngIf="!downloading">Calle 172</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[201]" (selected)="showLot(lots[201])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[202]" (selected)="showLot(lots[202])"></tero-lot>
            
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[203]" (selected)="showLot(lots[203])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[204]" (selected)="showLot(lots[204])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[205]" (selected)="showLot(lots[205])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[206]" (selected)="showLot(lots[206])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[207]" (selected)="showLot(lots[207])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[208]" (selected)="showLot(lots[208])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[209]" (selected)="showLot(lots[209])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[210]" (selected)="showLot(lots[210])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[211]" (selected)="showLot(lots[211])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[212]" (selected)="showLot(lots[212])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[213]" (selected)="showLot(lots[213])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[214]" (selected)="showLot(lots[214])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[215]" (selected)="showLot(lots[215])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[216]" (selected)="showLot(lots[216])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[217]" (selected)="showLot(lots[217])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[218]" (selected)="showLot(lots[218])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[219]" (selected)="showLot(lots[219])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[220]" (selected)="showLot(lots[220])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[221]" (selected)="showLot(lots[221])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[222]" (selected)="showLot(lots[222])"></tero-lot>

                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[223]" (selected)="showLot(lots[223])"></tero-lot>
    
                <tero-lot [showControls]="showControls && showInfo" [lot]="lots[224]" (selected)="showLot(lots[224])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 24.6rem">
            <h5 *ngIf="!downloading">Calle 172 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <span class="neighborhood__block__column--free" style="height: 24rem;"></span>

            </span>

        </span>

    </span>

</div>