<bizy-toolbar class="neighborhood__toolbar">

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'NEIGHBORHOOD.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="showInfo" [bizyLoading]="downloading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

</bizy-toolbar>

<div class="neighborhood tero-wrapper" [bizyLoading]="loading" #neighborhood>

    <span class="neighborhood__block-row">

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[1]" (onSelect)="showLot(lots[1])"></tero-lot>
    
                <tero-lot [lot]="lots[2]" (onSelect)="showLot(lots[2])"></tero-lot>
    
                <tero-lot [lot]="lots[3]" (onSelect)="showLot(lots[3])"></tero-lot>
    
                <tero-lot [lot]="lots[4]" (onSelect)="showLot(lots[4])"></tero-lot>
    
                <tero-lot [lot]="lots[5]" (onSelect)="showLot(lots[5])"></tero-lot>
    
                <tero-lot [lot]="lots[6]" (onSelect)="showLot(lots[6])"></tero-lot>
    
                <tero-lot [lot]="lots[7]" (onSelect)="showLot(lots[7])"></tero-lot>
    
                <tero-lot [lot]="lots[8]" (onSelect)="showLot(lots[8])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span *ngIf="!showInfo"></span>
            <h4 *ngIf="showInfo" class="street__icon"><i class="fa-solid fa-building-shield"></i></h4>
            <h5 *ngIf="!downloading">Calle 170 Nte</h5>
            <h4 class="street__icon"><i class="fa-solid fa-person-walking"></i></h4>
        </span>    
        
        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[9]" (onSelect)="showLot(lots[9])"></tero-lot>
    
                <tero-lot [lot]="lots[10]" (onSelect)="showLot(lots[10])"></tero-lot>
    
                <tero-lot [lot]="lots[11]" (onSelect)="showLot(lots[11])"></tero-lot>
    
                <tero-lot [lot]="lots[12]" (onSelect)="showLot(lots[12])"></tero-lot>
    
                <tero-lot [lot]="lots[13]" (onSelect)="showLot(lots[13])"></tero-lot>
    
                <tero-lot [lot]="lots[14]" (onSelect)="showLot(lots[14])"></tero-lot>
    
                <tero-lot [lot]="lots[15]" (onSelect)="showLot(lots[15])"></tero-lot>
    
                <tero-lot [lot]="lots[16]" (onSelect)="showLot(lots[16])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[17]" (onSelect)="showLot(lots[17])"></tero-lot>
    
                <tero-lot [lot]="lots[18]" (onSelect)="showLot(lots[18])"></tero-lot>
    
                <tero-lot [lot]="lots[19]" (onSelect)="showLot(lots[19])"></tero-lot>
    
                <tero-lot [lot]="lots[20]" (onSelect)="showLot(lots[20])"></tero-lot>
    
                <tero-lot [lot]="lots[21]" (onSelect)="showLot(lots[21])"></tero-lot>
    
                <tero-lot [lot]="lots[22]" (onSelect)="showLot(lots[22])"></tero-lot>
    
                <tero-lot [lot]="lots[23]" (onSelect)="showLot(lots[23])"></tero-lot>
    
                <tero-lot [lot]="lots[24]" (onSelect)="showLot(lots[24])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 171</h5>
            <h4 class="street__icon"><i class="fa-solid fa-xmark"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[25]" (onSelect)="showLot(lots[25])"></tero-lot>
    
                <tero-lot [lot]="lots[26]" (onSelect)="showLot(lots[26])"></tero-lot>
    
                <tero-lot [lot]="lots[27]" (onSelect)="showLot(lots[27])"></tero-lot>
    
                <tero-lot [lot]="lots[28]" (onSelect)="showLot(lots[28])"></tero-lot>
    
                <tero-lot [lot]="lots[29]" (onSelect)="showLot(lots[29])"></tero-lot>
    
                <tero-lot [lot]="lots[30]" (onSelect)="showLot(lots[30])"></tero-lot>
    
                <tero-lot [lot]="lots[31]" (onSelect)="showLot(lots[31])"></tero-lot>
    
                <tero-lot [lot]="lots[32]" (onSelect)="showLot(lots[32])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[33]" (onSelect)="showLot(lots[33])"></tero-lot>
    
                <tero-lot [lot]="lots[34]" (onSelect)="showLot(lots[34])"></tero-lot>
    
                <tero-lot [lot]="lots[35]" (onSelect)="showLot(lots[35])"></tero-lot>
    
                <tero-lot [lot]="lots[36]" (onSelect)="showLot(lots[36])"></tero-lot>
    
                <tero-lot [lot]="lots[37]" (onSelect)="showLot(lots[37])"></tero-lot>
    
                <tero-lot [lot]="lots[38]" (onSelect)="showLot(lots[38])"></tero-lot>
    
                <tero-lot [lot]="lots[39]" (onSelect)="showLot(lots[39])"></tero-lot>
    
                <tero-lot [lot]="lots[40]" (onSelect)="showLot(lots[40])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 171 Nte</h5>
            <h4 class="street__icon"><i class="fa-solid fa-car"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[41]" (onSelect)="showLot(lots[41])"></tero-lot>
    
                <tero-lot [lot]="lots[42]" (onSelect)="showLot(lots[42])"></tero-lot>
    
                <tero-lot [lot]="lots[43]" (onSelect)="showLot(lots[43])"></tero-lot>
    
                <tero-lot [lot]="lots[44]" (onSelect)="showLot(lots[44])"></tero-lot>
    
                <tero-lot [lot]="lots[45]" (onSelect)="showLot(lots[45])"></tero-lot>
    
                <tero-lot [lot]="lots[46]" (onSelect)="showLot(lots[46])"></tero-lot>
    
                <tero-lot [lot]="lots[47]" (onSelect)="showLot(lots[47])"></tero-lot>
    
                <tero-lot [lot]="lots[48]" (onSelect)="showLot(lots[48])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[49]" (onSelect)="showLot(lots[49])"></tero-lot>
    
                <tero-lot [lot]="lots[50]" (onSelect)="showLot(lots[50])"></tero-lot>
    
                <tero-lot [lot]="lots[51]" (onSelect)="showLot(lots[51])"></tero-lot>
    
                <tero-lot [lot]="lots[52]" (onSelect)="showLot(lots[52])"></tero-lot>
    
                <tero-lot [lot]="lots[53]" (onSelect)="showLot(lots[53])"></tero-lot>
    
                <tero-lot [lot]="lots[54]" (onSelect)="showLot(lots[54])"></tero-lot>
    
                <tero-lot [lot]="lots[55]" (onSelect)="showLot(lots[55])"></tero-lot>
    
                <tero-lot [lot]="lots[56]" (onSelect)="showLot(lots[56])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 16.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 172</h5>
            <h4 #mainEntrance class="street__icon"><i class="fa-solid fa-car"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[57]" (onSelect)="showLot(lots[57])"></tero-lot>
    
                <tero-lot [lot]="lots[58]" (onSelect)="showLot(lots[58])"></tero-lot>
    
                <tero-lot [lot]="lots[59]" (onSelect)="showLot(lots[59])"></tero-lot>
    
                <tero-lot [lot]="lots[60]" (onSelect)="showLot(lots[60])"></tero-lot>
    
                <tero-lot [lot]="lots[61]" (onSelect)="showLot(lots[61])"></tero-lot>
    
                <tero-lot [lot]="lots[62]" (onSelect)="showLot(lots[62])"></tero-lot>
    
                <tero-lot [lot]="lots[63]" (onSelect)="showLot(lots[63])"></tero-lot>
    
                <tero-lot [lot]="lots[64]" (onSelect)="showLot(lots[64])"></tero-lot>

            </span>

        </span>

    </span>

    <span class="neighborhood__horizontal-street" style="width: 59rem;">
        <h5>Calle 46 Este</h5>
    </span>

    <span class="neighborhood__block-row">

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[65]" (onSelect)="showLot(lots[65])"></tero-lot>
    
                <tero-lot [lot]="lots[66]" (onSelect)="showLot(lots[66])"></tero-lot>
    
                <tero-lot [lot]="lots[67]" (onSelect)="showLot(lots[67])"></tero-lot>
    
                <tero-lot [lot]="lots[68]" (onSelect)="showLot(lots[68])"></tero-lot>
    
                <tero-lot [lot]="lots[69]" (onSelect)="showLot(lots[69])"></tero-lot>
    
                <tero-lot [lot]="lots[70]" (onSelect)="showLot(lots[70])"></tero-lot>
    
            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 12.6rem;">
            <h5 *ngIf="!downloading">Calle 170 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[71]" (onSelect)="showLot(lots[71])"></tero-lot>
    
                <tero-lot [lot]="lots[72]" (onSelect)="showLot(lots[72])"></tero-lot>
    
                <tero-lot [lot]="lots[73]" (onSelect)="showLot(lots[73])"></tero-lot>
    
                <tero-lot [lot]="lots[74]" (onSelect)="showLot(lots[74])"></tero-lot>
    
                <tero-lot [lot]="lots[75]" (onSelect)="showLot(lots[75])"></tero-lot>
    
                <tero-lot [lot]="lots[76]" (onSelect)="showLot(lots[76])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[77]" (onSelect)="showLot(lots[77])"></tero-lot>
    
                <tero-lot [lot]="lots[78]" (onSelect)="showLot(lots[78])"></tero-lot>
    
                <tero-lot [lot]="lots[79]" (onSelect)="showLot(lots[79])"></tero-lot>
    
                <tero-lot [lot]="lots[80]" (onSelect)="showLot(lots[80])"></tero-lot>
    
                <tero-lot [lot]="lots[81]" (onSelect)="showLot(lots[81])"></tero-lot>
    
                <tero-lot [lot]="lots[82]" (onSelect)="showLot(lots[82])"></tero-lot>
    
                <tero-lot [lot]="lots[83]" (onSelect)="showLot(lots[83])"></tero-lot>
    
                <tero-lot [lot]="lots[84]" (onSelect)="showLot(lots[84])"></tero-lot>

                <tero-lot [lot]="lots[85]" (onSelect)="showLot(lots[85])"></tero-lot>

                <tero-lot [lot]="lots[86]" (onSelect)="showLot(lots[86])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 20.6rem;">
            <h5 *ngIf="!downloading">Calle 171</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[87]" (onSelect)="showLot(lots[87])"></tero-lot>
    
                <tero-lot [lot]="lots[88]" (onSelect)="showLot(lots[88])"></tero-lot>
    
                <tero-lot [lot]="lots[89]" (onSelect)="showLot(lots[89])"></tero-lot>
    
                <tero-lot [lot]="lots[90]" (onSelect)="showLot(lots[90])"></tero-lot>
    
                <tero-lot [lot]="lots[91]" (onSelect)="showLot(lots[91])"></tero-lot>
    
                <tero-lot [lot]="lots[92]" (onSelect)="showLot(lots[92])"></tero-lot>
    
                <tero-lot [lot]="lots[93]" (onSelect)="showLot(lots[93])"></tero-lot>
    
                <tero-lot [lot]="lots[94]" (onSelect)="showLot(lots[94])"></tero-lot>

                <tero-lot [lot]="lots[95]" (onSelect)="showLot(lots[95])"></tero-lot>

                <tero-lot [lot]="lots[96]" (onSelect)="showLot(lots[96])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[97]" (onSelect)="showLot(lots[97])"></tero-lot>
    
                <tero-lot [lot]="lots[98]" (onSelect)="showLot(lots[98])"></tero-lot>
    
                <tero-lot [lot]="lots[99]" (onSelect)="showLot(lots[99])"></tero-lot>
    
                <tero-lot [lot]="lots[100]" (onSelect)="showLot(lots[100])"></tero-lot>
    
                <tero-lot [lot]="lots[101]" (onSelect)="showLot(lots[101])"></tero-lot>
    
                <tero-lot [lot]="lots[102]" (onSelect)="showLot(lots[102])"></tero-lot>
    
                <tero-lot [lot]="lots[103]" (onSelect)="showLot(lots[103])"></tero-lot>
    
                <tero-lot [lot]="lots[104]" (onSelect)="showLot(lots[104])"></tero-lot>

                <tero-lot [lot]="lots[105]" (onSelect)="showLot(lots[105])"></tero-lot>

                <tero-lot [lot]="lots[106]" (onSelect)="showLot(lots[106])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 20.6rem;">
            <h5 *ngIf="!downloading">Calle 171 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[107]" (onSelect)="showLot(lots[107])"></tero-lot>
    
                <tero-lot [lot]="lots[108]" (onSelect)="showLot(lots[108])"></tero-lot>
    
                <tero-lot [lot]="lots[109]" (onSelect)="showLot(lots[109])"></tero-lot>
    
                <tero-lot [lot]="lots[110]" (onSelect)="showLot(lots[110])"></tero-lot>
    
                <tero-lot [lot]="lots[111]" (onSelect)="showLot(lots[111])"></tero-lot>
    
                <tero-lot [lot]="lots[112]" (onSelect)="showLot(lots[112])"></tero-lot>
    
                <tero-lot [lot]="lots[113]" (onSelect)="showLot(lots[113])"></tero-lot>
    
                <tero-lot [lot]="lots[114]" (onSelect)="showLot(lots[114])"></tero-lot>

                <tero-lot [lot]="lots[115]" (onSelect)="showLot(lots[115])"></tero-lot>

                <tero-lot [lot]="lots[116]" (onSelect)="showLot(lots[116])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[117]" (onSelect)="showLot(lots[117])"></tero-lot>
    
                <tero-lot [lot]="lots[118]" (onSelect)="showLot(lots[118])"></tero-lot>
    
                <tero-lot [lot]="lots[119]" (onSelect)="showLot(lots[119])"></tero-lot>
    
                <tero-lot [lot]="lots[120]" (onSelect)="showLot(lots[120])"></tero-lot>
    
                <tero-lot [lot]="lots[121]" (onSelect)="showLot(lots[121])"></tero-lot>
    
                <tero-lot [lot]="lots[122]" (onSelect)="showLot(lots[122])"></tero-lot>
    
                <tero-lot [lot]="lots[123]" (onSelect)="showLot(lots[123])"></tero-lot>
    
                <tero-lot [lot]="lots[124]" (onSelect)="showLot(lots[124])"></tero-lot>

                <tero-lot [lot]="lots[125]" (onSelect)="showLot(lots[125])"></tero-lot>

                <tero-lot [lot]="lots[126]" (onSelect)="showLot(lots[126])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 20.6rem;">
            <span></span>
            <h5 *ngIf="!downloading">Calle 172</h5>
            <span *ngIf="!showInfo"></span>
            <h4 *ngIf="showInfo" class="street__icon"><i class="fa-solid fa-building-shield"></i></h4>
        </span>

        <span class="neighborhood__block" style="align-items: flex-end;">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[127]" (onSelect)="showLot(lots[127])"></tero-lot>
    
                <tero-lot [lot]="lots[128]" (onSelect)="showLot(lots[128])"></tero-lot>
    
                <tero-lot [lot]="lots[129]" (onSelect)="showLot(lots[129])"></tero-lot>
    
                <tero-lot [lot]="lots[130]" (onSelect)="showLot(lots[130])"></tero-lot>
    
                <tero-lot [lot]="lots[131]" (onSelect)="showLot(lots[131])"></tero-lot>
    
                <tero-lot [lot]="lots[132]" (onSelect)="showLot(lots[132])"></tero-lot>
    
                <tero-lot [lot]="lots[133]" (onSelect)="showLot(lots[133])"></tero-lot>
    
                <tero-lot [lot]="lots[134]" (onSelect)="showLot(lots[134])"></tero-lot>

                <tero-lot [lot]="lots[135]" (onSelect)="showLot(lots[135])"></tero-lot>

                <tero-lot [lot]="lots[136]" (onSelect)="showLot(lots[136])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[137]" (onSelect)="showLot(lots[137])"></tero-lot>
    
                <tero-lot [lot]="lots[138]" (onSelect)="showLot(lots[138])"></tero-lot>
    
                <tero-lot [lot]="lots[139]" (onSelect)="showLot(lots[139])"></tero-lot>
    
                <tero-lot [lot]="lots[140]" (onSelect)="showLot(lots[140])"></tero-lot>
    
            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 8.6rem; align-self: flex-end;">
            <h5 *ngIf="!downloading">Calle 172 Nte</h5>
        </span>

        <span class="neighborhood__block" style="align-self: flex-end;">

            <span class="neighborhood__block__column--free" style="height: 8rem;"></span>
        
        </span>

    </span>

    <span class="neighborhood__horizontal-street" style="width: 59rem; position: relative; left: 14.6rem;">
        <h5>Calle 47</h5>
    </span>

    <span class="neighborhood__block-row" style="position: relative; left: 14.6rem;">

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[141]" (onSelect)="showLot(lots[141])"></tero-lot>
    
                <tero-lot [lot]="lots[142]" (onSelect)="showLot(lots[142])"></tero-lot>
    
                <tero-lot [lot]="lots[143]" (onSelect)="showLot(lots[143])"></tero-lot>
    
                <tero-lot [lot]="lots[144]" (onSelect)="showLot(lots[144])"></tero-lot>
    
                <tero-lot [lot]="lots[145]" (onSelect)="showLot(lots[145])"></tero-lot>
    
                <tero-lot [lot]="lots[146]" (onSelect)="showLot(lots[146])"></tero-lot>
    
                <tero-lot [lot]="lots[147]" (onSelect)="showLot(lots[147])"></tero-lot>

                <tero-lot [lot]="lots[148]" (onSelect)="showLot(lots[148])"></tero-lot>
    
                <tero-lot [lot]="lots[149]" (onSelect)="showLot(lots[149])"></tero-lot>
    
                <tero-lot [lot]="lots[150]" (onSelect)="showLot(lots[150])"></tero-lot>
    
                <tero-lot [lot]="lots[151]" (onSelect)="showLot(lots[151])"></tero-lot>

                <tero-lot [lot]="lots[152]" (onSelect)="showLot(lots[152])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street neighborhood__vertical-street--main" style="height: 24.6rem">
            <span></span>
            <h5 *ngIf="!downloading">Calle 171</h5>
            <span *ngIf="!showInfo"></span>
            <h4 *ngIf="showInfo" class="street__icon"><i class="fa-solid fa-building-shield"></i></h4>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">
        
                <tero-lot [lot]="lots[153]" (onSelect)="showLot(lots[153])"></tero-lot>
    
                <tero-lot [lot]="lots[154]" (onSelect)="showLot(lots[154])"></tero-lot>
    
                <tero-lot [lot]="lots[155]" (onSelect)="showLot(lots[155])"></tero-lot>
    
                <tero-lot [lot]="lots[156]" (onSelect)="showLot(lots[156])"></tero-lot>
    
                <tero-lot [lot]="lots[157]" (onSelect)="showLot(lots[157])"></tero-lot>
    
                <tero-lot [lot]="lots[158]" (onSelect)="showLot(lots[158])"></tero-lot>
    
                <tero-lot [lot]="lots[159]" (onSelect)="showLot(lots[159])"></tero-lot>

                <tero-lot [lot]="lots[160]" (onSelect)="showLot(lots[160])"></tero-lot>
    
                <tero-lot [lot]="lots[161]" (onSelect)="showLot(lots[161])"></tero-lot>
    
                <tero-lot [lot]="lots[162]" (onSelect)="showLot(lots[162])"></tero-lot>
    
                <tero-lot [lot]="lots[163]" (onSelect)="showLot(lots[163])"></tero-lot>

                <tero-lot [lot]="lots[164]" (onSelect)="showLot(lots[164])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">
        
                <tero-lot [lot]="lots[165]" (onSelect)="showLot(lots[165])"></tero-lot>
    
                <tero-lot [lot]="lots[166]" (onSelect)="showLot(lots[166])"></tero-lot>
    
                <tero-lot [lot]="lots[167]" (onSelect)="showLot(lots[167])"></tero-lot>
    
                <tero-lot [lot]="lots[168]" (onSelect)="showLot(lots[168])"></tero-lot>
    
                <tero-lot [lot]="lots[169]" (onSelect)="showLot(lots[169])"></tero-lot>
    
                <tero-lot [lot]="lots[170]" (onSelect)="showLot(lots[170])"></tero-lot>
    
                <tero-lot [lot]="lots[171]" (onSelect)="showLot(lots[171])"></tero-lot>

                <tero-lot [lot]="lots[172]" (onSelect)="showLot(lots[172])"></tero-lot>
    
                <tero-lot [lot]="lots[173]" (onSelect)="showLot(lots[173])"></tero-lot>
    
                <tero-lot [lot]="lots[174]" (onSelect)="showLot(lots[174])"></tero-lot>
    
                <tero-lot [lot]="lots[175]" (onSelect)="showLot(lots[175])"></tero-lot>

                <tero-lot [lot]="lots[176]" (onSelect)="showLot(lots[176])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 24.6rem">
            <h5 *ngIf="!downloading">Calle 171 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">
        
                <tero-lot [lot]="lots[177]" (onSelect)="showLot(lots[177])"></tero-lot>
    
                <tero-lot [lot]="lots[178]" (onSelect)="showLot(lots[178])"></tero-lot>
    
                <tero-lot [lot]="lots[179]" (onSelect)="showLot(lots[179])"></tero-lot>
    
                <tero-lot [lot]="lots[180]" (onSelect)="showLot(lots[180])"></tero-lot>
    
                <tero-lot [lot]="lots[181]" (onSelect)="showLot(lots[181])"></tero-lot>
    
                <tero-lot [lot]="lots[182]" (onSelect)="showLot(lots[182])"></tero-lot>
    
                <tero-lot [lot]="lots[183]" (onSelect)="showLot(lots[183])"></tero-lot>

                <tero-lot [lot]="lots[184]" (onSelect)="showLot(lots[184])"></tero-lot>
    
                <tero-lot [lot]="lots[185]" (onSelect)="showLot(lots[185])"></tero-lot>
    
                <tero-lot [lot]="lots[186]" (onSelect)="showLot(lots[186])"></tero-lot>
    
                <tero-lot [lot]="lots[187]" (onSelect)="showLot(lots[187])"></tero-lot>

                <tero-lot [lot]="lots[188]" (onSelect)="showLot(lots[188])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">
        
                <tero-lot [lot]="lots[189]" (onSelect)="showLot(lots[189])"></tero-lot>
    
                <tero-lot [lot]="lots[190]" (onSelect)="showLot(lots[190])"></tero-lot>
    
                <tero-lot [lot]="lots[191]" (onSelect)="showLot(lots[191])"></tero-lot>
    
                <tero-lot [lot]="lots[192]" (onSelect)="showLot(lots[192])"></tero-lot>
    
                <tero-lot [lot]="lots[193]" (onSelect)="showLot(lots[193])"></tero-lot>
    
                <tero-lot [lot]="lots[194]" (onSelect)="showLot(lots[194])"></tero-lot>
    
                <tero-lot [lot]="lots[195]" (onSelect)="showLot(lots[195])"></tero-lot>

                <tero-lot [lot]="lots[196]" (onSelect)="showLot(lots[196])"></tero-lot>
    
                <tero-lot [lot]="lots[197]" (onSelect)="showLot(lots[197])"></tero-lot>
    
                <tero-lot [lot]="lots[198]" (onSelect)="showLot(lots[198])"></tero-lot>
    
                <tero-lot [lot]="lots[199]" (onSelect)="showLot(lots[199])"></tero-lot>

                <tero-lot [lot]="lots[200]" (onSelect)="showLot(lots[200])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 24.6rem">
            <h5 *ngIf="!downloading">Calle 172</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[201]" (onSelect)="showLot(lots[201])"></tero-lot>
    
                <tero-lot [lot]="lots[202]" (onSelect)="showLot(lots[202])"></tero-lot>
            
                <tero-lot [lot]="lots[203]" (onSelect)="showLot(lots[203])"></tero-lot>
    
                <tero-lot [lot]="lots[204]" (onSelect)="showLot(lots[204])"></tero-lot>
    
                <tero-lot [lot]="lots[205]" (onSelect)="showLot(lots[205])"></tero-lot>
    
                <tero-lot [lot]="lots[206]" (onSelect)="showLot(lots[206])"></tero-lot>

                <tero-lot [lot]="lots[207]" (onSelect)="showLot(lots[207])"></tero-lot>
    
                <tero-lot [lot]="lots[208]" (onSelect)="showLot(lots[208])"></tero-lot>
    
                <tero-lot [lot]="lots[209]" (onSelect)="showLot(lots[209])"></tero-lot>
    
                <tero-lot [lot]="lots[210]" (onSelect)="showLot(lots[210])"></tero-lot>

                <tero-lot [lot]="lots[211]" (onSelect)="showLot(lots[211])"></tero-lot>

                <tero-lot [lot]="lots[212]" (onSelect)="showLot(lots[212])"></tero-lot>

            </span>

            <span class="neighborhood__block__column">

                <tero-lot [lot]="lots[213]" (onSelect)="showLot(lots[213])"></tero-lot>
    
                <tero-lot [lot]="lots[214]" (onSelect)="showLot(lots[214])"></tero-lot>
    
                <tero-lot [lot]="lots[215]" (onSelect)="showLot(lots[215])"></tero-lot>
    
                <tero-lot [lot]="lots[216]" (onSelect)="showLot(lots[216])"></tero-lot>
    
                <tero-lot [lot]="lots[217]" (onSelect)="showLot(lots[217])"></tero-lot>
    
                <tero-lot [lot]="lots[218]" (onSelect)="showLot(lots[218])"></tero-lot>

                <tero-lot [lot]="lots[219]" (onSelect)="showLot(lots[219])"></tero-lot>
    
                <tero-lot [lot]="lots[220]" (onSelect)="showLot(lots[220])"></tero-lot>
    
                <tero-lot [lot]="lots[221]" (onSelect)="showLot(lots[221])"></tero-lot>
    
                <tero-lot [lot]="lots[222]" (onSelect)="showLot(lots[222])"></tero-lot>

                <tero-lot [lot]="lots[223]" (onSelect)="showLot(lots[223])"></tero-lot>
    
                <tero-lot [lot]="lots[224]" (onSelect)="showLot(lots[224])"></tero-lot>

            </span>

        </span>

        <span class="neighborhood__vertical-street" style="height: 24.6rem">
            <h5 *ngIf="!downloading">Calle 172 Nte</h5>
        </span>

        <span class="neighborhood__block">

            <span class="neighborhood__block__column">

                <span class="neighborhood__block__column--free" style="height: 24rem;"></span>

            </span>

        </span>

    </span>

</div>