<bizy-form>

    <h4 class="tero--info"><strong>{{'CONFIG.USER_ALIAS_CBU_POPUP.TITLE' | translate}}</strong></h4>

    <bizy-input
        #aliasCBUInput
        [autofocus]="true"
        [value]="aliasCBU.value"
        (onChange)="aliasCBU.setValue($event)">
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.ALIAS_CBU' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="aliasCBU.hasError('required') && aliasCBUInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
    </bizy-input>

    <bizy-section>

        <bizy-section-center>

            <bizy-button class="tero-button--danger" (onSelect)="close()">
                <h5><i class="fa-solid fa-xmark"></i></h5>
                <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
            </bizy-button>

        </bizy-section-center>

        <bizy-section-center>

            <bizy-button type="submit" class="tero-button--accent" (onSelect)="apply()">
                <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
                <h5><i class="fa-solid fa-check"></i></h5>
            </bizy-button>
            
        </bizy-section-center>

    </bizy-section>

</bizy-form>
