:host {
  --bizy-input-background-color: var(--dark-input-background-color);
  --bizy-card-background-color: var(--dark-input-background-color);
  --bizy-card-cursor: pointer;
  --bizy-card-height: 4.6rem;
  --bizy-list-row-gap: 1rem;
  --bizy-list-height: 22rem;
}

.users-popup--selected {
  --bizy-card-background-color: var(--bizy-light-info-color);
}
