.ecommerce-product-form__section {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.ecommerce-product-form__title {
  position: relative;
  width: calc(100% + 0.5rem);
  right: 0.5rem;
  border-bottom: 0.15rem solid var(--bizy-info-color);
}
