<bizy-form>

    <bizy-input
        #nameInput
        [value]="_name.value"
        [autofocus]="!isMobile"
        (onChange)="_name.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.NAME' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_name.hasError('required') && nameInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="_name.hasError('minlength') && nameInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
        <h6 slot="error" *ngIf="_name.hasError('maxlength') && nameInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
    </bizy-input>

    <bizy-input [(value)]="tagSearch">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.TAG' | translate}}</strong></h6>

        <bizy-input-option 
            *ngFor="let tag of availableTags | bizySearch : tagSearch | bizyOrderBy : 'asc'"
            (onSelect)="addTag(tag); tagSearch = ''">
            <h5>{{tag}}</h5>
        </bizy-input-option>

        <bizy-tag slot="prefix" *ngFor="let tag of selectedTags" [type]="BIZY_TAG_TYPE.INFO" (onSelect)="removeTag(tag)">
            <h6>{{tag}}</h6>
            <h6><i class="fa-solid fa-xmark"></i></h6>
        </bizy-tag>

    </bizy-input>

    <bizy-input
        type="textarea"
        [value]="_description.value"
        (onChange)="_description.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.DESCRIPTION' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_description.hasError('maxlength')">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{DESCRIPTION_LENGTH}}</h6>
    </bizy-input>

    <span class="tero-form__section">

        <bizy-input
            #priceInput
            type="number"
            [disabled]="_price.disabled"
            [value]="_price.value"
            (onChange)="_price.setValue($event)">
            <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.PRICE' | translate}}</strong></h6>
            <h6 slot="prefix" class="tero-title">$</h6>
            <h6 slot="error" *ngIf="_price.hasError('required') && priceInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        </bizy-input>

        <bizy-toggle [(selected)]="checkPrice" (onSelect)="onCheckPrice()">
            <h6 slot="start"><strong>{{'ECOMMERCE.ECOMMERCE_PRODUCT_FORM.CHECK_PRICE' | translate}}</strong></h6>
        </bizy-toggle>

    </span>

    <bizy-input
        #phoneInput
        type="tel"
        [value]="_phone.value"
        (onChange)="_phone.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.PHONE' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_phone.hasError('required') && phoneInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
    </bizy-input>

    <span class="tero-confirm-buttons">

        <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="_cancel()">
            <h5><i class="fa-solid fa-xmark"></i></h5>
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>

        <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="_confirm()">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>

    </span>

</bizy-form>

