<form class="tero-form" [formGroup]="form">

    <tero-img [src]="_picture.value" alt="Contact picture"></tero-img>


    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.NAME' | translate}}</mat-label>
        <input [teroAutoFocus]="true" matInput type="text" formControlName="name">
        <mat-error *ngIf="_name.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.SURNAME' | translate}}</mat-label>
        <input matInput type="text" formControlName="surname">
     </mat-form-field>

    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.PHONE' | translate}}</mat-label>
        <input matInput type="text" formControlName="phone">
        <mat-error *ngIf="_phone.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.COMMENTS' | translate}}</mat-label>
        <input matInput type="text" formControlName="comments">
    </mat-form-field>

    <mat-chip-listbox [multiple]="true" [required]="true" (change)="selectTag($event.value)">
        <mat-chip-option *ngFor="let tag of TAGS" [value]="tag.id" [selected]="tag.selected">{{tag.value | translate}}</mat-chip-option>
    </mat-chip-listbox>

    <tero-confirm-footer
        (cancel)="_cancel()"
        (confirm)="_confirm()">
    </tero-confirm-footer>
</form>

