<form class="tero-form" [formGroup]="form">

    <span class="contact-form__picture">

        <tero-img [src]="_picture.value" alt="Contact picture"></tero-img>

    </span>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.NAME' | translate}}"
        [control]="_name">

        <bizy-error input-error *ngIf="_name.hasError('required')"><h5>{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h5></bizy-error>
        <bizy-error input-error *ngIf="_name.hasError('minlength')"><h5>"{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h5></bizy-error>
        <bizy-error input-error *ngIf="_name.hasError('maxlength')"><h5>{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h5></bizy-error>

    </bizy-input>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.SURNAME' | translate}}"
        [control]="_surname">

        <bizy-error input-error *ngIf="_surname.hasError('minlength')"><h5>"{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h5></bizy-error>
        <bizy-error input-error *ngIf="_surname.hasError('maxlength')"><h5>{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h5></bizy-error>

    </bizy-input>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.PHONE' | translate}}"
        type="tel"
        [control]="_phone">

        <bizy-error input-error *ngIf="_phone.hasError('required')"><h5>{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h5></bizy-error>
        <bizy-error input-error *ngIf="_phone.hasError('bizyPhoneNumber')"><h5>{{'CORE.FORM.ERROR.PHONE' | translate}}</h5></bizy-error>

    </bizy-input>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.DESCRIPTION' | translate}}"
        [control]="_description">

        <bizy-error input-error *ngIf="_description.hasError('maxlength')"><h5>{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{LONG_TEXT_MAX_LENGTH}}</h5></bizy-error>

    </bizy-input>

    <bizy-confirm-buttons
        confirmLabel="{{'CORE.BUTTON.CONFIRM' | translate}}"
        cancelLabel="{{'CORE.BUTTON.CANCEL' | translate}}"
        (cancel)="_cancel()"
        (confirm)="_confirm()">
    </bizy-confirm-buttons>

</form>

