.contact-form__picture {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.contact-form__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    --bizy-button-padding: 0;
    --bizy-button-background-color: transparent;
}