<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'SECURITY_GROUP_INVOICES.TITLE' | translate}} {{group}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

</bizy-toolbar>

<bizy-content>

    <bizy-section>

        <bizy-section-center>
    
            <bizy-button class="tero-button--info" (onSelect)="previousDate()" [disabled]="loading">
                <h5><i class="fa-solid fa-chevron-left"></i></h5>
            </bizy-button>
    
            <span class="security-group-invoices__current-date">
    
                <h5><strong>{{currentDate}}</strong></h5>
    
            </span>
    
            <bizy-button class="tero-button--info" (onSelect)="nextDate()" [disabled]="loading">
                <h5><i class="fa-solid fa-chevron-right"></i></h5>
            </bizy-button>
    
        </bizy-section-center>

    </bizy-section>

    <bizy-section>

        <bizy-section-end>

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((invoices
                                                | bizySearch: search : searchKeys
                                                | bizyRangeFilter : 'timestamp' : filterTimestamp
                                                | bizySearch: nameSearch : '_nameSurname').length + '/' + invoices.length) : (invoices | bizyRangeFilter : 'timestamp' : filterTimestamp).length">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="isDesktop">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </bizy-section-end>

    </bizy-section>

     <bizy-grid *ngIf="!loading && invoices.length > 0" class="animated fade-in">

        <bizy-card 
            class="animated fade-in"
            *gridFor="let invoice of invoices 
                                        | bizyRangeFilter : 'timestamp' : filterTimestamp
                                        | bizySearch: search : searchKeys
                                        | bizySearch: nameSearch : '_nameSurname'
                                        | bizyOrderBy: order : orderBy">

            <bizy-tag slot="header-start">
                <h6><i class="fa-solid fa-calendar-day"></i></h6>
                <h6>{{invoice._date}}</h6>
            </bizy-tag>

            <bizy-button 
                slot="header-end"
                class="tero-action tero-action--danger tero-no-padding"
                (onSelect)="deleteInvoice(invoice); $event.stopPropagation()">
                <h5><i class="fa-solid fa-trash-alt"></i></h5>
            </bizy-button>

            <bizy-list slot="footer-start">
                
                <h6 bizyTooltip [tooltipLineClamp]="1"><strong>{{'CORE.FORM.FIELD.NAME' | translate}}: </strong>{{invoice._nameSurname}}</h6>

                <span style="display: flex; align-items: center; column-gap: 0.3rem; width: 100%;">
                    <h6><strong>{{'CORE.FORM.FIELD.TRANSACTION_ID' | translate}}:</strong></h6>
                    <h6 *ngIf="!invoice.transactionId">---</h6>
                    <bizy-button 
                        *ngIf="invoice.transactionId"
                        class="tero-action tero-action--info tero-no-padding"
                        (onSelect)="copyText(invoice.transactionId); $event.stopPropagation()">
                        <h6>{{invoice.transactionId}}</h6>
                        <h6><i class="fa-regular fa-copy"></i></h6>
                    </bizy-button>
                </span>

                <h6 bizyTooltip [tooltipLineClamp]="2"><strong>{{'CORE.FORM.FIELD.COMMENT' | translate}}:</strong> {{invoice.description || '---'}}</h6>

            </bizy-list>

            <bizy-tag *ngIf="invoice._lot" class="security-group-invoices__lot" slot="footer-end" [type]="BIZY_TAG_TYPE.INFO">
                <h6><i class="fa-solid fa-location-dot"></i></h6>
                <h6>{{invoice._lot}}</h6>
            </bizy-tag>

        </bizy-card>

    </bizy-grid>

    <bizy-grid *ngIf="loading" class="animated fade-in">

        <bizy-card *gridFor="let i of invoices.length > 0 ? invoices : 30 | bizyRepeat">
    
            <bizy-skeleton slot="header-start" width="8rem" height="0.8rem"></bizy-skeleton>

            <bizy-skeleton slot="header-end" width="2rem" height="1rem"></bizy-skeleton>

            <bizy-list>
                
                <bizy-skeleton width="8rem" height="0.8rem"></bizy-skeleton>

                <bizy-skeleton width="6rem" height="0.8rem"></bizy-skeleton>

                <bizy-skeleton width="10rem" height="0.8rem"></bizy-skeleton>

            </bizy-list>

        </bizy-card>

    </bizy-grid>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.INFO" 
        class="animated fade-in tero-no-matches"
        *ngIf="invoices.length !== 0 && (invoices 
                                            | bizySearch: search : searchKeys
                                            | bizyRangeFilter : 'timestamp' : filterTimestamp
                                            | bizySearch: nameSearch : '_nameSurname').length === 0">
        <h4 class="tero-text--center">{{'CORE.NO_MATCHES' | translate}}</h4>
    </bizy-tag>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.WARNING"
        class="animated fade-in tero-no-matches"
        *ngIf="!loading && invoices.length === 0">
        <h4 class="tero-text--center">{{'SECURITY_GROUP_INVOICES.EMPTY' | translate}}</h4>
    </bizy-tag>

</bizy-content>