<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'SECURITY_GROUP_INVOICES.TITLE' | translate}} {{group}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

</bizy-toolbar>

<tero-wrapper>

    <bizy-section>

        <bizy-section-end>

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((invoices
                                                | bizySearch: search : searchKeys
                                                | bizySearch: nameSearch : 'name').length + '/' + invoices.length) : invoices.length">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="isDesktop">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </bizy-section-end>

    </bizy-section>

     <bizy-grid *ngIf="!loading && invoices.length > 0" class="animated fade-in">

        <bizy-card 
            class="animated fade-in"
            *gridFor="let invoice of invoices 
                                        | bizySearch: search : searchKeys
                                        | bizySearch: nameSearch : '_nameSurname'
                                        | bizyOrderBy: order : orderBy">


            <h6 slot="header-start"><strong>{{invoice._date}}</strong></h6>

            <bizy-button 
                slot="header-end"
                class="tero-action tero-action--danger tero-no-padding"
                (onSelect)="deleteInvoice(invoice); $event.stopPropagation()">
                <h5><i class="fa-solid fa-trash-alt"></i></h5>
            </bizy-button>

            <bizy-list>
                
                <h6 bizyTooltip [tooltipLineClamp]="1">{{'CORE.FORM.FIELD.NAME' | translate}}: <strong>{{invoice._nameSurname}}</strong></h6>

                <h6 bizyTooltip [tooltipLineClamp]="1">{{'CORE.FORM.FIELD.TRANSACTION_ID' | translate}}: <strong>{{invoice.transactionId || '---'}}</strong></h6>

                <h6 bizyTooltip [tooltipLineClamp]="1">{{'CORE.FORM.FIELD.COMMENT' | translate}}: <strong>{{invoice.description || '---'}}</strong></h6>

            </bizy-list>

        </bizy-card>

    </bizy-grid>

    <bizy-grid *ngIf="loading" class="animated fade-in">

        <bizy-card *gridFor="let i of invoices.length > 0 ? invoices : 30 | bizyRepeat">
    
            <bizy-skeleton slot="header-start" width="8rem" height="0.8rem"></bizy-skeleton>

            <bizy-skeleton slot="header-end" width="2rem" height="1rem"></bizy-skeleton>

            <bizy-list>
                
                <bizy-skeleton width="8rem" height="0.8rem"></bizy-skeleton>

                <bizy-skeleton width="6rem" height="0.8rem"></bizy-skeleton>

                <bizy-skeleton width="10rem" height="0.8rem"></bizy-skeleton>

            </bizy-list>

        </bizy-card>

    </bizy-grid>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.INFO" 
        class="animated fade-in tero-no-matches"
        *ngIf="invoices.length !== 0 && (invoices 
                                            | bizySearch: search : searchKeys
                                            | bizySearch: nameSearch : '_nameSurname').length === 0">
        <h4 class="tero-text--center">{{'CORE.NO_MATCHES' | translate}}</h4>
    </bizy-tag>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.WARNING"
        class="animated fade-in tero-no-matches"
        *ngIf="!loading && invoices.length === 0">
        <h4 class="tero-text--center">{{'SECURITY_GROUP_INVOICES.EMPTY' | translate}}</h4>
    </bizy-tag>

</tero-wrapper>