<tero-wrapper>

    <bizy-section>

        <bizy-section-start>

            <h1 class="tero--info">{{'CONTACTS.RATING_HISTORY_POPUP.TITLE' | translate}}</h1>

            <bizy-tag [type]="BIZY_TAG_TYPE.WARNING" *ngIf="rating && rating.length > 0">
                <h5>{{rating | bizyAverage : 'value'}}/5 <i class="fa-solid fa-star"></i></h5>
            </bizy-tag>
            
        </bizy-section-start>

    </bizy-section>

    <span class="rating-history-popup__rating-wrapper" *ngIf="rating && rating.length > 0">

        <span class="rating-history-popup__rating" *ngFor="let contactRating of rating">

            <span class="rating-history-popup__rating__header">

                <img 
                    height="20"
                    [src]="IMG_PATH + DEFAULT_USER_PICTURE"
                    alt="Imagen de usuario"/>

                <span class="rating-history-popup__stars">
    
                    <h6 class="rating-history-popup__stars__star rating-history-popup__stars__star--selected"><i class="fa-solid fa-star"></i></h6>
        
                    <h6 class="rating-history-popup__stars__star" [ngClass]="{'rating-history-popup__stars__star--selected': contactRating.value <= 2}"><i class="fa-solid fa-star"></i></h6>
        
                    <h6 class="rating-history-popup__stars__star" [ngClass]="{'rating-history-popup__stars__star--selected': contactRating.value <= 3}"><i class="fa-solid fa-star"></i></h6>
        
                    <h6 class="rating-history-popup__stars__star" [ngClass]="{'rating-history-popup__stars__star--selected': contactRating.value <= 4}"><i class="fa-solid fa-star"></i></h6>
        
                    <h6 class="rating-history-popup__stars__star" [ngClass]="{'rating-history-popup__stars__star--selected': contactRating.value <= 5}"><i class="fa-solid fa-star"></i></h6>
        
                </span>

            </span>
        
            <bizy-card *ngIf="contactRating.description">
                <h6 slot="header-start" class="tero--info"><strong>{{'CORE.FORM.FIELD.COMMENTS' | translate}}</strong></h6>
                <h6>{{contactRating.description}}</h6>
            </bizy-card>
        
        </span>

    </span>
    
</tero-wrapper>
