<form class="tero-form" [formGroup]="form">

    <span class="neighbor-form__picture">

        <tero-img [src]="_picture.value" alt="Neighbor picture"></tero-img>

    </span>

    <bizy-input
        #nameInput
        [value]="_name.value"
        [autofocus]="true"
        (onChange)="_name.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.NAME' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_name.hasError('required') && nameInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="_name.hasError('minlength') && nameInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
        <h6 slot="error" *ngIf="_name.hasError('maxlength') && nameInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
    </bizy-input>

    <bizy-input
        #surnameInput
        [value]="_surname.value"
        (onChange)="_surname.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.SURNAME' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_surname.hasError('required') && surnameInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="_surname.hasError('minlength') && surnameInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
        <h6 slot="error" *ngIf="_surname.hasError('maxlength') && surnameInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
    </bizy-input>

    <bizy-input
        #lotInput
        [value]="_lot.value"
        type="number"
        (onChange)="_lot.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.LOT' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_lot.hasError('required') && lotInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="_lot.hasError('min') && lotInput.touched">{{'CORE.FORM.ERROR.MIN' | translate}} {{MIN_VALUE}}</h6>
        <h6 slot="error" *ngIf="_lot.hasError('max') && lotInput.touched">{{'CORE.FORM.ERROR.MAX' | translate}} {{MAX_VALUE}}</h6>
    </bizy-input>

    <span class="neighbor-form__security-card">

        <h5 class="tero-title">{{'CORE.FORM.FIELD.SECURITY' | translate}}</h5>
    
        <span class="tero-form__section">
            <bizy-toggle [selected]="_security.value" (onSelect)="setSecurity(!_security.value)"></bizy-toggle>
    
            <bizy-select [disabled]="!_security.value">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.GROUP' | translate}}</strong></h6>
                <bizy-select-option 
                    *ngFor="let g of GROUPS"
                    [selected]="_group.value === g"
                    (onSelect)="_group.setValue(g)">
                    <h6>{{g}}</h6>
                </bizy-select-option>
            </bizy-select>

        </span>

    </span>

    <span class="tero-confirm-buttons">

        <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="_cancel()">
            <h5><i class="fa-solid fa-xmark"></i></h5>
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>

        <bizy-button class="tero-confirm-buttons__confirm" (onSelect)="_confirm()">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>

    </span>

</form>

