:host {
  --bizy-card-background-color: var(--dark-input-background-color);
  --bizy-card-cursor: pointer;
  --bizy-card-height: 3rem;
  --bizy-list-row-gap: 1rem;
  --bizy-list-height: 22rem;
}

.user-roles-popup {
  row-gap: 2rem;
}

.user-roles-popup--selected {
  --bizy-card-background-color: var(--bizy-light-info-color);
}