.loading {
  position: relative;
  width: 100%;
  min-height: 20rem;
  height: fit-content;
}

.loading__spinner {
  position: absolute;
  height: max(20px, 6em);
  width: max(20px, 6em);
  border: 3px solid transparent;
  border-top-color: var(--secondary-color);
  top: 50%;
  left: 50%;
  margin: -45px;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
  }

  &::before {
    border-top-color: var(--secondary-color);
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
  }

  &::after {
    border-top-color: var(--secondary-color);
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    animation: spin 4s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}