:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  --bizy-card-cursor: pointer;
  --bizy-grid-row-height: 10rem;
}

.contacts__card__action {
  align-self: flex-start;
}

.contacts__card__content__description {
  color: var(--bizy-default-color);
}
