.contacts {
    --bizy-virtual-scroll-height: calc(100vh - var(--bizy-toolbar-height) - 8rem);
}

.conctacts__card__action {
    align-self: flex-start;
}

.contacts__card__title {
    text-align: start;
}

.contacts__card__phones__phone {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}