<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'CONTACTS.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig || isNeighbor" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig || isNeighbor" (onSelect)="addContact()"><h2><i class="fa-solid fa-user-plus"></i></h2></bizy-button>

</bizy-toolbar>

<div class="tero-wrapper">

    <span class="tero-section">

        <span class="tero-section__end">

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((contacts | bizySearch: search : searchKeys | bizyFilter : 'tags' : filterTags).length + '/' + contacts.length) : contacts.length">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="!isMobile">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--success" [disabled]="loading" *ngIf="filterTags && filterTags.length > 0">
    
                <bizy-filter (onChange)="checkFilters($event)">
                    <h6><i class="fa-solid fa-filter"></i></h6>
                    
                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'CORE.FORM.FIELD.TAG' | translate }}</strong></h6>

                        <bizy-filter-section-checkbox-option 
                            *ngFor="let tag of filterTags | bizyOrderBy : 'asc' : 'value'" 
                            [selected]="tag.selected"
                            (onChange)="tag.selected = $event; refresh()">
                            <h6>{{tag.value}}</h6>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>
            </bizy-button>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </span>

    </span>

    <bizy-grid *ngIf="!loading" class="animated fade-in">

        <bizy-card 
            (onSelect)="selectContact(contact)"
            *gridFor="let contact of contacts 
                                        | bizySearch: search : searchKeys
                                        | bizyFilter : 'tags' : filterTags
                                        | bizyOrderBy: order : orderBy">

            <tero-img slot="header-start" [src]="contact.picture" [height]="40" alt="Contact picture"></tero-img>

            <h4 slot="header-start" class="tero-text-ellipsis--2"><strong>{{contact.surname}} {{contact.name}}</strong></h4>

            <bizy-button 
                *ngIf="isMobile"
                slot="header-end"
                class="tero-action tero-action--default contacts__card__action"
                (onSelect)="onShare(contact); $event.stopPropagation()">
                <i class="fa-solid fa-share-nodes"></i>
            </bizy-button>

            <bizy-button 
                slot="header-end"
                class="tero-action tero-action--info contacts__card__action"
                (onSelect)="onCall(contact); $event.stopPropagation()">
                <i class="fa-solid fa-phone"></i>
            </bizy-button>

            <bizy-button 
                slot="header-end"
                class="tero-action tero-action--success contacts__card__action"
                (onSelect)="onWhatsapp(contact); $event.stopPropagation()">
                <i class="fa-brands fa-whatsapp"></i>
            </bizy-button>

            <span class="contacts__card__content">

                <span class="contacts__card__content__description" *ngIf="contact.description">
                    <h6><i class="fa-regular fa-message"></i></h6>
                    <h6 class="tero-text-ellipsis">{{contact.description}}</h6>
                </span>

                <span class="contacts__card__phones__phone" *ngFor="let phone of contact._phones">

                    <h6><strong>{{phone}}</strong></h6>

                    <bizy-button class="tero-action tero-action--info" (onSelect)="copyPhone(phone); $event.stopPropagation()"><i class="fa-regular fa-copy"></i></bizy-button>

                </span>
            </span>
            

            <bizy-tag slot="footer-start" [type]="BIZY_TAG_TYPE.INFO" *ngFor="let tag of contact.tags" class="conctacts__card__tag"><h6>{{tag}}</h6></bizy-tag>

            <bizy-tag slot="footer-end" *ngIf="!contact.rating || contact.rating.length === 0" (onSelect)="openRatingPopup(contact); $event.stopPropagation()">
                <h6><i class="fa-solid fa-star"></i></h6>
            </bizy-tag>

            <bizy-tag slot="footer-end" *ngIf="contact.rating && contact.rating.length > 0" (onSelect)="openRatingHistoryPopup(contact); $event.stopPropagation()">
                <h6><i class="fa-regular fa-comment"></i></h6>
            </bizy-tag>

            <bizy-tag slot="footer-end" [type]="BIZY_TAG_TYPE.WARNING" *ngIf="contact.rating && contact.rating.length > 0" (onSelect)="openRatingPopup(contact); $event.stopPropagation()">
                <h6>{{contact.rating | bizyAverage : 'value'}}/5 <i class="fa-solid fa-star"></i></h6>
            </bizy-tag>

        </bizy-card>

    </bizy-grid>

    <bizy-grid *ngIf="loading" class="animated fade-in">
        <bizy-skeleton-card *gridFor="let i of contacts.length > 0 ? contacts : 30 | bizyRepeat"></bizy-skeleton-card>
    </bizy-grid>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.INFO" 
        class="animated fade-in tero-no-matches"
        *ngIf="contacts.length !== 0 && (contacts 
                                            | bizySearch: search : searchKeys
                                            | bizyFilter : 'tags' : filterTags).length === 0">
        <h4>{{'CORE.NO_MATCHES' | translate}}</h4>
    </bizy-tag>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.WARNING"
        class="animated fade-in tero-no-matches"
        *ngIf="!loading && contacts.length === 0">
        <h4>{{'CONTACTS.EMPTY' | translate}}</h4>
    </bizy-tag>

</div>