<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'CONTACTS.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="addContact()"><h2><i class="fa-solid fa-user-plus"></i></h2></bizy-button>

</bizy-toolbar>

<div class="contacts tero-wrapper">

    <span class="tero-section">

        <span class="tero-counter">

            <span class="tero-counter__section">
                <h4 class="tero-title">{{'CORE.TOTAL' | translate}}:</h4>
                <h4><strong>{{(contacts | bizySearch: search : ['name', 'tags', 'surname', 'phones', 'score']).length}}/{{contacts.length}}</strong></h4>
            </span>

        </span>

        <span class="tero-section__end">

            <bizy-input 
                label="{{'CORE.FORM.FIELD.SEARCH' | translate}}"
                [(value)]="search">

                <span input-start><i class="fa-solid fa-magnifying-glass"></i>&nbsp;</span>

            </bizy-input>
    
        </span>

    </span>

    <bizy-virtual-scroll itemMinHeight="8rem" itemMinWidth="16rem" [bizyLoading]="loading">
        <div virtualScrollGrid *virtualNgFor="let contactArray in contacts | bizySearch: search : ['name', 'tags', 'surname', 'phones', 'score'] | bizyOrderBy: order : orderBy">

            <ng-container *ngFor="let contact of contactArray">

                <bizy-card (onSelect)="editContact(contact)">

                    <tero-img card-header-start [src]="contact.picture" [height]="40" alt="Contact picture"></tero-img>

                    <h2 card-header-start class="contacts__card__title"><strong>{{contact.surname}} {{contact.name}}</strong></h2>

                    <span class="contacts__card__phones__phone" *ngFor="let phone of contact.phones">

                        <h5><strong>{{phone.number}}</strong></h5>

                        <bizy-button class="tero-action tero-action--info" (onSelect)="copyPhone(phone.number); $event.stopPropagation()"><i class="fa-regular fa-copy"></i></bizy-button>

                    </span>

                    <bizy-button card-header-end class="tero-action tero-action--info conctacts__card__action" (onSelect)="onCall(contact); $event.stopPropagation()"><i class="fa-solid fa-phone"></i></bizy-button>

                    <bizy-button card-header-end class="tero-action tero-action--success conctacts__card__action" (onSelect)="onWhatsapp(contact); $event.stopPropagation()"><i class="fa-brands fa-whatsapp"></i></bizy-button>

                    <bizy-tag card-footer-start type="warning" *ngFor="let tag of contact.tags" class="conctacts__card__tag">{{('CONTACTS.TAG.' + tag) | translate}}</bizy-tag>

                </bizy-card>

            </ng-container>

        </div>
    </bizy-virtual-scroll>

</div>