<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'GARBAGE_HISTORY.TITLE' | translate}}</h1>

</bizy-toolbar>

<tero-wrapper>

    <bizy-section>

        <bizy-section-center>
    
            <bizy-button class="tero-button--info" (onSelect)="previousDate()" [disabled]="loading">
                <h5><i class="fa-solid fa-chevron-left"></i></h5>
            </bizy-button>
    
            <span class="garbage-history__current-date">
    
                <h5><strong>{{currentDate}}</strong></h5>
    
            </span>
    
            <bizy-button class="tero-button--info" (onSelect)="nextDate()" [disabled]="loading">
                <h5><i class="fa-solid fa-chevron-right"></i></h5>
            </bizy-button>
    
        </bizy-section-center>

    </bizy-section>

    <ng-container *ngIf="loading">

        <bizy-skeleton width="100%" height="2rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

    </ng-container>

    <bizy-calendar 
        style="height: 20rem;"
        *ngIf="!loading"
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [preventExpand]="true"
        (onDateSelect)="openGarbageRecordPopup($event)"
        [weekStartsOn]="BIZY_CALENDAR_DAY.MONDAY"
        [mode]="BIZY_CALENDAR_MODE.MONTH">
    </bizy-calendar>

</tero-wrapper>