<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'GARBAGE_HISTORY.TITLE' | translate}}</h1>

</bizy-toolbar>

<div class="tero-wrapper">

    <ng-container *ngIf="loading">

        <bizy-skeleton width="100%" height="2rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

        <bizy-skeleton width="100%" height="5rem"></bizy-skeleton>

    </ng-container>

    <bizy-calendar 
        *ngIf="!loading"
        [events]="calendarEvents"
        [preventExpand]="true"
        (onDateSelect)="openGarbageRecordPopup($event)"
        [weekStartsOn]="BIZY_CALENDAR_DAY.MONDAY"
        [mode]="BIZY_CALENDAR_MODE.MONTH">
    </bizy-calendar>

</div>