<span class="lot-popup">

    <tero-title title="{{'CORE.FORM.FIELD.LOT' | translate}} {{data.number}}"></tero-title>

    <span class="lot-popup__neighbors">

        <span class="lot-popup__neighbors__neighbor" *ngFor="let neighbor of data.neighbors">

            <mat-icon class="lot-popup__neighbors__neighbor__icon">person</mat-icon>
    
            <h1 class="lot-popup__neighbors__neighbor__name">{{neighbor.surname}} {{neighbor.name}}</h1>
    
        </span>

    </span>

    <span *ngIf="!data.neighbors || data.neighbors.length === 0">{{'CORE.EMPTY' | translate}}</span>

</span>