<bizy-content>

    <bizy-section>
        <bizy-section-start>
            <h2 class="tero--info"><strong>{{'CORE.FORM.FIELD.LOT' | translate }} {{data ? data.number : ''}}</strong></h2>
            <h2 class="tero--primary" *ngIf="data && data.neighbors.length > 0 && data.neighbors[0].security"><i class="fa-solid fa-shield-halved"></i></h2>
        </bizy-section-start>

        <bizy-section-end *ngIf="data.houseNumber">
            <bizy-tag [type]="BIZY_TAG_TYPE.INFO"><h6>Nº {{data.houseNumber}}</h6></bizy-tag>
        </bizy-section-end>
    </bizy-section>

    <bizy-section *ngIf="data && data.neighbors && data.neighbors.length > 0">
        <h5 class="tero--info"><strong>{{'NEIGHBORHOOD.NEIGHBORS.TITLE' | translate}}</strong></h5>
    </bizy-section>

    <bizy-section *ngFor="let neighbor of data?.neighbors">
    
        <bizy-tag>
            <h5><i class="fa-solid fa-user"></i></h5>
            <h5>{{neighbor.surname}} {{neighbor.name}}</h5>
        </bizy-tag>
    
    </bizy-section>

    <bizy-section *ngIf="data && data.neighbors && data.neighbors.length > 0 && data.neighbors[0].alarmControls && data.neighbors[0].alarmControls.length > 0">
        <h5 class="tero--info"><strong>{{'NEIGHBORHOOD.ALARM.TITLE' | translate}}</strong></h5>
    </bizy-section>

    <bizy-list *ngIf="data && data.neighbors && data.neighbors.length > 0 && data.neighbors[0].alarmControls && data.neighbors[0].alarmControls.length > 0">
    
        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.ALARM.NUMBER' | translate}}:</strong></h5>
            <bizy-tag [type]="BIZY_TAG_TYPE.INFO">
                <h6><i class="fa-solid fa-land-mine-on"></i></h6>
                <h6>{{data.neighbors[0].alarmNumber}}</h6>
            </bizy-tag>
        </bizy-section-start>
    
        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.ALARM.CONTROLS' | translate}}:</strong></h5>
            <bizy-tag [type]="BIZY_TAG_TYPE.INFO" *ngFor="let control of data.neighbors[0].alarmControls">
                <h6><i class="fa-solid fa-mobile-retro"></i></h6>
                <h6>{{control}}</h6>
            </bizy-tag>
        </bizy-section-start>

    </bizy-list>

    <bizy-section>
        <bizy-section-start>
            <h5 class="tero--info"><strong>{{'NEIGHBORHOOD.DATA.TITLE' | translate}}</strong></h5>
            <bizy-button class="tero-action tero-action--info tero-no-padding" (onSelect)="copyLotData(); $event.stopPropagation()"><h6><i class="fa-regular fa-copy"></i></h6></bizy-button>
        </bizy-section-start>
    </bizy-section>

    <bizy-list>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.DISTRICT' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.district}}</h6>
            </bizy-tag>
        </bizy-section-start>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.CADASTRAL_JURISDICTION' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.cadastralJurisdiction}}</h6>
            </bizy-tag>
        </bizy-section-start>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.SECTION' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.section}}</h6>
            </bizy-tag>
        </bizy-section-start>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.SUBDIVISION' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.subdivision}}</h6>
            </bizy-tag>
        </bizy-section-start>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.BLOCK' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.block}}</h6>
            </bizy-tag>
        </bizy-section-start>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.PARCEL' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.parcel}}</h6>
            </bizy-tag>
        </bizy-section-start>

        <bizy-section-start>
            <h5><strong>{{'NEIGHBORHOOD.DATA.CADASTRAL_NUMBER' | translate}}:</strong></h5>
            <bizy-tag>
                <h6>{{data.cadastralNumber}}</h6>
            </bizy-tag>
        </bizy-section-start>
        
    </bizy-list>
    
</bizy-content>