<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'SECURITY.TITLE' | translate}}</h1>

</bizy-toolbar>

<div class="tero-wrapper security">

    <ng-container *ngIf="loading">
        <bizy-skeleton-card *ngFor="let i of 3 | bizyRepeat"></bizy-skeleton-card>
    </ng-container>

    <ng-container *ngIf="!loading">

        <bizy-card>
    
            <h4 slot="header-start" class="tero-title"><i class="fa-solid fa-circle-info"></i></h4>
            <h4 slot="header-start" class="tero-title">{{'SECURITY.INFO.TITLE' | translate}}</h4>
    
            <span class="security__info__content">
    
                <span class="security__info__content__section">
                    <h5>{{'SECURITY.INFO.SECURITY_FEE' | translate}}</h5>
                    <bizy-tag><h5>$ {{securityFee | number : '1.2-2'}}</h5></bizy-tag>
                </span>
        
                <span class="security__info__content__section">
                    <h5>{{'SECURITY.INFO.MEMBERS' | translate}}</h5>
                    <bizy-tag><h5>{{members}}</h5></bizy-tag>
                </span>
        
                <span class="security__info__content__section">
                    <h5>{{'SECURITY.INFO.MEMBERSHIP_FEE' | translate}}</h5>
                    <bizy-tag><h5>$ {{membershipFee | number : '1.2-2'}}</h5></bizy-tag>
                </span>
                
            </span>
    
        </bizy-card>

        <bizy-card>
    
            <h4 slot="header-start" class="tero-title"><i class="fa-solid fa-user-shield"></i></h4>
            <h4 slot="header-start" class="tero-title">{{'SECURITY.STAFF.TITLE' | translate}}</h4>
    
            <span class="security__staff__content">
    
                <span class="security__staff__content__guard" *ngFor="let guard of securityStaff">
    
                    <h5><strong>{{guard.name}}:</strong></h5>
                    <h5>{{guard.description}}</h5>
        
                </span>
    
            </span>
    
        </bizy-card>

        <bizy-card>
    
            <h4 slot="header-start" class="tero-title"><i class="fa-solid fa-users"></i></h4>
            <h4 slot="header-start" class="tero-title">{{'SECURITY.GROUPS.TITLE' | translate}}</h4>
    
            <span class="security__groups__content">
    
                <span class="security__groups__content__section" *ngFor="let group of groups">
    
                    <span class="tero-section__start">

                        <bizy-tag (onSelect)="goToSecurityGroup(group)">
                            <h5><strong>{{'CORE.FORM.FIELD.GROUP' | translate}} {{group.value}}</strong> ({{group.lots.size}})</h5>
                        </bizy-tag>

                        <bizy-tag 
                            *ngIf="group.debt"
                            [type]="BIZY_TAG_TYPE.DANGER"
                            (onSelect)="goToSecurityGroup(group)">
                            <h6>{{'SECURITY.GROUPS.DEBT' | translate}}</h6>
                        </bizy-tag>

                    </span>
    
                    <bizy-tag [type]="group.debt ? BIZY_TAG_TYPE.DANGER : BIZY_TAG_TYPE.SUCCESS" (onSelect)="setGroupDebt(group)">
                        <h5>$ {{group.fee | number : '1.2-2'}}</h5>
                    </bizy-tag>
        
                </span>
    
            </span>
    
        </bizy-card>

    </ng-container>

</div>