:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  --bizy-grid-row-height: 6.5rem;
  --bizy-card-height: fit-content;
}

.security__staff__content__guard {
  width: 100%;
  display: grid;
  grid-template-columns: 4.6rem auto;
}

.security-group__groups {
  --bizy-grid-height: 43rem;
}

.security-groups__group {
  --bizy-card-cursor: pointer;
  --bizy-button-padding: 0.2rem;
  --bizy-card-height: 100%;
}

.security-groups__group--debt {
  --bizy-card-background-color: var(--bizy-light-danger-color);
}

.security-groups__group--no-debt {
  --bizy-card-background-color: var(--bizy-light-success-color);
}

.security-groups__group__text {
  color: var(--bizy-info-color);
}

.security-groups__group__text--debt {
  color: var(--bizy-dark-danger-color);
}

.security-groups__group__text--no-debt {
  color: var(--bizy-dark-success-color);
}