:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.security {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9rem 11rem 14rem;
    gap: 1rem;
}

.security__info__content {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.security__info__content__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.security__staff__content {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.security__staff__content__guard {
    width: 100%;
    display: grid;
    grid-template-columns: 4rem auto;
}

.security__groups__content {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.security__groups__content__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.security__groups__content__section__data {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}