/* You can add global styles to this file, and also import other style files */

body {
  background-color: var(--background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

.tero-card {
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow:
    0 4px 6px rgb(50 50 93 / 11%),
    0 1px 3px rgb(0 0 0 / 8%);
  padding: 0.5em;
  transition: transform 250ms ease-in-out;
  height: 100%;
  width: 100%;
}

.tero-card:hover {
  box-shadow:
    0 7px 14px rgb(50 50 93 / 10%),
    0 3px 6px rgb(0 0 0 / 8%);
  transform: translateY(-1px);
}

.tero__table--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
  width: 100%;
  text-align: center;
}

.tero-action {
  --bizy-button-background-color: transparent;
  cursor: pointer;
}

.tero-action--primary {
  --bizy-button-color: var(--primary-color);
}

.tero-action--success {
  --bizy-button-color: var(--bizy-success-color);
}

.tero-action--default {
  --bizy-button-color: var(--bizy-default-color);
}

.tero-action--info {
  --bizy-button-color: var(--bizy-info-color);
}

.tero-action--warning {
  --bizy-button-color: var(--bizy-warning-color);
}

.tero-action--danger {
  --bizy-button-color: var(--bizy-danger-color);
}

.tero-toolbar-action {
  --bizy-button-background-color: transparent;
  --bizy-button-color: var(--dark-secondary-color);
}

.tero-table-column-center {
  --bizy-table-column-justify-content: center;
}

.tero-table-column-end {
  --bizy-table-column-justify-content: flex-end;
}

.tero-block-button {
  flex: 1;
  width: 100%;
  --bizy-button-width: 100%;
}

.tero-button--accent {
  --bizy-button-background-color: var(--bizy-accent-color) !important;
}

.tero-button--success {
  --bizy-button-background-color: var(--bizy-success-color) !important;
}

.tero-button--default {
  --bizy-button-background-color: var(--bizy-default-color) !important;
}

.tero-button--info {
  --bizy-button-background-color: var(--bizy-info-color) !important;
}

.tero-button--warning {
  --bizy-button-background-color: var(--bizy-warning-color) !important;
}

.tero-button--danger {
  --bizy-button-background-color: var(--bizy-danger-color) !important;
}

.tero-outlined-button--accent {
  --bizy-button-background-color: transparent;
  --bizy-button-border: 0.1rem solid var(--bizy-accent-color);
  --bizy-button-color: var(--bizy-accent-color);
}

.tero-outlined-button--accent:hover {
  --bizy-button-background-color: var(--bizy-light-accent-color);
}

.tero-outlined-button--success {
  --bizy-button-background-color: transparent;
  --bizy-button-border: 0.1rem solid var(--bizy-success-color);
  --bizy-button-color: var(--bizy-success-color);
}

.tero-outlined-button--success:hover {
  --bizy-button-background-color: var(--bizy-light-success-color);
}

.tero-outlined-button--default {
  --bizy-button-background-color: transparent;
  --bizy-button-border: 0.1rem solid var(--bizy-default-color);
  --bizy-button-color: var(--bizy-default-color);
}

.tero-outlined-button--default:hover {
  --bizy-button-background-color: var(--bizy-light-default-color);
}

.tero-outlined-button--info {
  --bizy-button-background-color: transparent;
  --bizy-button-border: 0.1rem solid var(--bizy-info-color);
  --bizy-button-color: var(--bizy-info-color);
}

.tero-outlined-button--info:hover {
  --bizy-button-background-color: var(--bizy-light-info-color);
}

.tero-outlined-button--warning {
  --bizy-button-background-color: transparent;
  --bizy-button-border: 0.1rem solid var(--bizy-warning-color);
  --bizy-button-color: var(--bizy-warning-color);
}

.tero-outlined-button--warning:hover {
  --bizy-button-background-color: var(--bizy-light-warning-color);
}

.tero-outlined-button--danger {
  --bizy-button-background-color: transparent;
  --bizy-button-border: 0.1rem solid var(--bizy-danger-color);
  --bizy-button-color: var(--bizy-danger-color);
}

.tero-outlined-button--danger:hover {
  --bizy-button-background-color: var(--bizy-light-danger-color);
}

.tero-logo {
  height: 2rem;
}

@media only screen and (min-width: 768px) {
  .tero-logo {
    visibility: hidden;
    pointer-events: none;
    width: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .tero-logo {
    visibility: visible;
    pointer-events: all;
    width: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .hidden-xs {
    visibility: hidden !important;
    display: none !important;
  }
}

.bizy-table-row h5,
.bizy-table-row h6,
.bizy-table-footer h5,
.bizy-table-footer h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.bizy-table-row h5:hover,
.bizy-table-row h6:hover,
.bizy-table-footer h5:hover,
.bizy-table-footer h6:hover {
  -webkit-line-clamp: unset !important;
}

.tero-table-actions {
  padding: 0 0.5rem;
}

.tero-no-padding {
  padding: 0 !important;
  --bizy-button-padding: 0;
}

.tero-wrapper {
  flex: 1;
  padding: 0.5rem;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.tero-wrapper--light {
  padding: 0.5rem;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.tero-content {
  padding: 0.5rem;
}

.tero-form__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tero-form__section bizy-input,
.tero-form__section bizy-select {
  flex: 1;
}

.hidden-xs {
  @media only screen and (max-width: 576px) {
    visibility: hidden;
    display: none;
  }
}

.hidden-xl {
  @media only screen and (max-width: 1200px) {
    visibility: hidden;
    display: none;
  }
}

.tero-counter {
  --bizy-input-min-width: 3rem;
  --bizy-input-max-width: 4.6rem;
}

.tero--primary {
  color: var(--primary-color);
}

.tero--accent {
  color: var(--bizy-accent-color);
}

.tero--success {
  color: var(--bizy-success-color);
}

.tero--info {
  color: var(--bizy-info-color);
}

.tero--default {
  color: var(--bizy-default-color);
}

.tero--warning {
  color: var(--bizy-warning-color);
}

.tero--danger {
  color: var(--bizy-danger-color);
}

.tero-no-matches {
  flex: 1;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.tero-text--center {
  text-wrap: auto;
  text-align: center;
  width: 100%;
}

.tero-confirm-buttons {
  padding: 0.5rem;
  --bizy-section-background-color: #fff;
}

.tero-confirm-buttons__cancel {
  --bizy-button-min-width: 6rem;
  --bizy-button-background-color: transparent;
  --bizy-button-color: var(--bizy-info-color);
}

.tero-confirm-buttons__confirm {
  flex: 1;
  --bizy-button-width: 100%;
  --bizy-button-background-color: var(--bizy-accent-color);
}
