/* You can add global styles to this file, and also import other style files */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

.tero-card {
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow:
        0 4px 6px rgb(50 50 93 / 11%),
        0 1px 3px rgb(0 0 0 / 8%);
    padding: 0.5em;
    transition: transform 250ms ease-in-out;
    height: 100%;
    width: 100%;
}

.tero-card:hover {
    box-shadow:
        0 7px 14px rgb(50 50 93 / 10%),
        0 3px 6px rgb(0 0 0 / 8%);
    transform: translateY(-1px);
}

.tero__table--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 100%;
    text-align: center;
}

.tero-action {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 100ms ease;
}

.tero-action:hover {
    transform: translateY(-0.1rem);
    font-size: 1.1rem;
}

.tero-action--primary {
    color: var(--primary-color) !important;
}

.tero-action--success {
    color: var(--success-color) !important;
}

.tero-action--default {
    color: var(--default-color) !important;
}

.tero-action--info {
    color: var(--info-color) !important;
}

.tero-action--warning {
    color: var(--warning-color) !important;
}

.tero-action--danger {
    color: var(--danger-color) !important;
}

.tero-table-column-center {
    justify-content: center;
}

.tero-button--accent {
    background-color: var(--accent-color) !important;
}

.tero-button--success {
    background-color: var(--success-color) !important;
}

.tero-button--default {
    background-color: var(--default-color) !important;
}

.tero-button--info {
    background-color: var(--info-color) !important;
}

.tero-button--warning {
    background-color: var(--warning-color) !important;
}

.tero-button--danger {
    background-color: var(--danger-color) !important;
}

.tero-toolbar__icon {
    margin-left: 1rem;
    color: var(--dark-secondary-color);
}

.tero-logo {
    height: 2rem;
}

@media only screen and (min-width: 768px) {
    .tero-logo {
        visibility: hidden;
        pointer-events: none;
        width: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .tero-logo {
        visibility: visible;
        pointer-events: all;
        width: 2rem;
    }
}


@media only screen and (max-width: 576px) {
    .hidden-xs {
        visibility: hidden !important;
        display: none !important;
    }
}


.bizy-table-row h5,
.bizy-table-row h6,
.bizy-table-footer h5,
.bizy-table-footer h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.bizy-table-row h5:hover,
.bizy-table-row h6:hover,
.bizy-table-footer h5:hover,
.bizy-table-footer h6:hover {
    -webkit-line-clamp: unset !important;
}

.tero-action {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    transition: all 100ms ease;
}

.tero-action:hover {
    transform: translateY(-0.1rem);
    font-size: 1.1rem;
}

.tero-action--apply {
    color: var(--apply-color) !important;
}

.tero-action--primary {
    color: var(--primary-color) !important;
}

.tero-action--success {
    color: var(--success-color) !important;
}

.tero-action--default {
    color: var(--default-color) !important;
}

.tero-action--info {
    color: var(--info-color) !important;
}

.tero-action--warning {
    color: var(--warning-color) !important;
}

.tero-action--error {
    color: var(--error-color) !important;
}

.tero-tag--success {
    color: var(--dark-success-color) !important;
    background-color: var(--light-success-color) !important;
}

.tero-tag--default {
    color: var(--dark-default-color) !important;
    background-color: var(--light-default-color) !important;
}

.tero-tag--info {
    color: var(--dark-info-color) !important;
    background-color: var(--light-info-color) !important;
}

.tero-tag--warning {
    color: var(--dark-warning-color) !important;
    background-color: var(--light-warning-color) !important;
}

.tero-tag--error {
    color: var(--dark-error-color) !important;
    background-color: var(--light-error-color) !important;
}

.tero-table__header__title {
    color: var(--info-color);
}

.tero-table-row--success {
    color: var(--dark-success-color) !important;
    background-color: var(--light-success-color) !important;
}

.tero-table-row--default {
    color: var(--primary) !important;
    background-color: #ddd !important;
}

.tero-table-row--info {
    color: var(--dark-info-color) !important;
    background-color: var(--light-info-color) !important;
}

.tero-table-row--alert {
    color: var(--dark-alert-color) !important;
    background-color: var(--light-alert-color) !important;
}

.tero-table-row--warning {
    color: var(--dark-warning-color) !important;
    background-color: var(--light-warning-color) !important;
}

.tero-table-row--error {
    color: var(--dark-error-color) !important;
    background-color: var(--light-error-color) !important;
}

.tero-table-actions {
    padding: 0 0.5rem;
}

.tero-button--apply {
    background-color: var(--apply-color) !important;
}

.tero-button--primary {
    background-color: var(--primary-color) !important;
}

.tero-button--secondary {
    background-color: var(--secondary-color) !important;
}

.tero-button--accent {
    background-color: var(--accent-color) !important;
}

.tero-button--success {
    background-color: var(--success-color) !important;
}

.tero-button--info {
    background-color: var(--info-color) !important;
}

.tero-button--warning {
    background-color: var(--warning-color) !important;
}

.tero-button--error {
    background-color: var(--error-color) !important;
}

.tero-no-padding {
    padding: 0 !important;
}

.tero-wrapper {
    padding: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tero-wrapper--light {
    padding: 0.5rem;
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.tero-content {
    padding: 0.5rem;
}

.tero-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
}

.tero-form__field-section {
    display: flex;
    column-gap: 1rem;
}

.tero-form__field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    flex: 1;
}

.tero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.tero-section__start {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.tero-section__end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
}

.tero-section__end bizy-search-input {
    flex: 1;
}

.hidden-xs {
    @media only screen and (max-width: 576px) {
        visibility: hidden;
        display: none;
    }
}

.hidden-xl {
    @media only screen and (max-width: 1200px) {
        visibility: hidden;
        display: none;
    }
}

.tero-counter {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.tero-counter__section {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    min-width: 5rem;
}

.tero-title {
    color: var(--info-color);
}