.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: var(--text-color) !important;
    --mat-tab-header-active-label-text-color: var(--primary-color) !important;
    --mat-tab-header-active-ripple-color: var(--primary-color) !important;
    --mat-tab-header-inactive-ripple-color: var(--text-color) !important;
    --mat-tab-header-active-focus-label-text-color: var(--primary-color) !important;
    --mat-tab-header-active-focus-indicator-color: var(--primary-color) !important;
    --mat-tab-header-active-hover-indicator-color: var(--primary-color) !important;
}

.mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
    --mat-tab-header-active-hover-indicator-color: var(--primary-color) !important;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: var(--primary-color) !important;
}

.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: var(--accent-color) !important;
    --mdc-switch-selected-handle-color: var(--accent-color) !important;
    --mdc-switch-selected-hover-state-layer-color: var(--accent-color) !important;
    --mdc-switch-selected-pressed-state-layer-color: var(--accent-color) !important;
    --mdc-switch-selected-focus-handle-color: var(--dark-accent-color) !important;
    --mdc-switch-selected-hover-handle-color: var(--dark-accent-color) !important;
    --mdc-switch-selected-pressed-handle-color: var(--dark-accent-color) !important;
    --mdc-switch-selected-focus-track-color: var(--light-accent-color) !important;
    --mdc-switch-selected-hover-track-color: var(--light-accent-color) !important;
    --mdc-switch-selected-pressed-track-color: var(--light-accent-color) !important;
    --mdc-switch-selected-track-color: var(--light-accent-color) !important;
}

.mat-mdc-header-row {
    color: var(--accent-color) !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
    padding: 0 0 0 0.6em !important
}

.mdc-data-table__row:first-child .mat-mdc-cell {
    padding-left: 0.6em !important;
}

.mdc-list {
    padding: 0 !important;
}

.mat-mdc-fab {
    position: fixed !important;
    right: 2em;
    bottom: 5em;
}

.mat-mdc-tab-header {
    --mdc-secondary-navigation-tab-container-height: var(--bottom-bar-height) !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: var(--top-bar-height) !important;
}

.tero-material-dialog {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    min-width: 36em;
    width: fit-content;
    max-width: 95vw !important;
    height: fit-content;
}

.tero-material-dialog::-webkit-scrollbar {
    width: 0 !important;
    /* Remove scrollbar space */
    background: transparent !important;
    /* Optional: just make scrollbar invisible */
}

.tero-material-dialog .mat-dialog-container {
    padding: 1em 1.5em !important;
}

@media only screen and (max-width: 576px) {
    .tero-material-dialog {
        min-width: 26em;
    }
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: var(--primary-color) !important;
}

mat-form-field {
    width: 100% !important;
}

.mat-mdc-form-field-icon-suffix {
    padding-right: 0.5em !important;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}