<bizy-form>

    <bizy-input
        #titleInput
        [disabled]="disabled"
        [value]="_title.value"
        [autofocus]="!isMobile"
        (onChange)="_title.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.TITLE' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_title.hasError('required') && titleInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="_title.hasError('minlength') && titleInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
        <h6 slot="error" *ngIf="_title.hasError('maxlength') && titleInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
    </bizy-input>

    <bizy-input
        type="textarea"
        [disabled]="disabled"
        [value]="_description.value"
        (onChange)="_description.setValue($event)">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.DESCRIPTION' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="_description.hasError('maxlength')">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{DESCRIPTION_LENGTH}}</h6>
    </bizy-input>

    <bizy-select [disabled]="disabled">
        <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.STATE' | translate}}</strong></h6>

        <bizy-select-option 
            *ngFor="let ts of TOPIC_STATE | bizyEnumToArray"
            [selected]="_status.value === ts.value"
            (onSelect)="_status.setValue(ts.value)">
            <h6>{{'CORE.TOPIC_STATE.' + ts.key | translate}}</h6>
        </bizy-select-option>
    </bizy-select>

    <span class="tero-confirm-buttons">

        <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="_cancel()" [disabled]="disabled">
            <h5><i class="fa-solid fa-xmark"></i></h5>
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>

        <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="_confirm()" [disabled]="disabled">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>

    </span>

</bizy-form>

