<form class="tero-form" [formGroup]="form">

    <tero-img [src]="_picture.value" alt="Neighbor picture"></tero-img>


    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.NAME' | translate}}</mat-label>
        <input [teroAutoFocus]="true" matInput type="text" formControlName="name">
        <mat-error *ngIf="_name.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.SURNAME' | translate}}</mat-label>
        <input matInput type="text" formControlName="surname">
        <mat-error *ngIf="_surname.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{'CORE.FORM.FIELD.LOT' | translate}}</mat-label>
        <input teroOnlyNumber matInput type="number" formControlName="lot">
        <mat-error *ngIf="_lot.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="_lot.hasError('min')">{{'CORE.FORM.ERROR.MIN' | translate}} {{MIN_VALUE}}</mat-error>
    </mat-form-field>

    <span class="tero-form__toggle-field">
        <h4 class="tero-form__toggle-field__label">{{'CORE.FORM.FIELD.SECURITY' | translate}}</h4>
        <mat-slide-toggle formControlName="security"></mat-slide-toggle>
    </span>
    
    <tero-confirm-footer
        (cancel)="_cancel()"
        (confirm)="_confirm()">
    </tero-confirm-footer>
</form>

