<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'NEIGHBORS.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" (onSelect)="addNeighbor()"><h2><i class="fa-solid fa-user-plus"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

</bizy-toolbar>

<tero-wrapper>

    <bizy-section>

        <bizy-section-end>

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((neighbors 
                                                | bizySearch: search : searchKeys
                                                | bizySearch: lotSearch : 'lot'
                                                | bizySearch: surnameSearch : 'surname'
                                                | bizySearch: nameSearch : 'name'
                                                | bizyFilter : 'alarmNumber' : filterAlarmControls
                                                | bizyFilter : 'group' : filterGroups).length + '/' + neighbors.length) : neighbors.length">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="isDesktop">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--default" [disabled]="loading">

                <bizy-menu [hideArrow]="true">

                    <h5 *ngIf="order === 'desc'"><i class="fa-solid fa-arrow-up-a-z"></i></h5>
                    <h5 *ngIf="order !== 'desc'"><i class="fa-solid fa-arrow-down-a-z"></i></h5>

                    <bizy-menu-title>{{ 'CORE.BUTTON.ORDER_BY' | translate }}</bizy-menu-title>

                    <bizy-menu-option (onSelect)="onSort('lot')">
                        <h5><i class="fa-solid fa-location-dot"></i></h5>
                        <h5>{{ 'CORE.FORM.FIELD.LOT' | translate }}</h5>
                    </bizy-menu-option>

                    <bizy-menu-option (onSelect)="onSort('name')">
                        <h5><i class="fa-solid fa-user"></i></h5>
                        <h5>{{ 'CORE.FORM.FIELD.NAME' | translate }}</h5>
                    </bizy-menu-option>

                    <bizy-menu-option (onSelect)="onSort('surname')">
                        <h5><i class="fa-solid fa-user"></i></h5>
                        <h5>{{ 'CORE.FORM.FIELD.SURNAME' | translate }}</h5>
                    </bizy-menu-option>

                    <bizy-menu-option (onSelect)="onSort('group')">
                        <h5><i class="fa-solid fa-shield-halved"></i></h5>
                        <h5>{{ 'CORE.FORM.FIELD.GROUP' | translate }}</h5>
                    </bizy-menu-option>

                </bizy-menu>

            </bizy-button>

            <bizy-button class="tero-button--success" [disabled]="loading">
    
                <bizy-filter (onChange)="checkFilters($event)">
                    <h6><i class="fa-solid fa-filter"></i></h6>
                    
                    <bizy-filter-section>
                        <h6 slot="header" class="tero--info"><strong>{{ 'CORE.FORM.FIELD.SECURITY' | translate }}</strong></h6>

                        <bizy-filter-section-checkbox-option 
                            *ngFor="let group of filterGroups | bizyOrderBy : 'asc' : 'value'" 
                            [selected]="group.selected"
                            (onChange)="group.selected = $event; refresh()">
                            <h6>{{group.value}}</h6>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero--info"><strong>{{ 'CORE.FORM.FIELD.ALARM_CONTROLS' | translate }}</strong></h6>

                        <bizy-filter-section-checkbox-option 
                            *ngFor="let alarmControl of filterAlarmControls | bizyOrderBy : 'asc' : 'value'" 
                            [selected]="alarmControl.selected"
                            (onChange)="alarmControl.selected = $event; refresh()">
                            <h6>{{alarmControl.value}}</h6>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>

            </bizy-button>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </bizy-section-end>

    </bizy-section>

    <bizy-grid *ngIf="!loading" class="animated fade-in">

        <bizy-card 
            class="animated fade-in"
            (onSelect)="selectNeighbor(neighbor)"
            *gridFor="let neighbor of neighbors 
                                        | bizySearch: search : searchKeys
                                        | bizySearch: lotSearch : 'lot'
                                        | bizySearch: surnameSearch : 'surname'
                                        | bizySearch: nameSearch : 'name'
                                        | bizyFilter : 'alarmNumber' : filterAlarmControls
                                        | bizyFilter : 'group' : filterGroups
                                        | bizyOrderBy: order : orderBy">

            <img 
                slot="header-start"
                height="30"
                loading="lazy"
                [src]="neighbor.picture"
                onerror="this.onerror=null; this.src='/assets/img/picture_user.svg'"
                alt="Imagen de usuario"/>

            <h4 slot="header-start" bizyTooltip [tooltipLineClamp]="2"><strong>{{neighbor.name}} {{neighbor.surname}}</strong></h4>

            <bizy-tag 
                *ngIf="neighbor.security"
                slot="header-end"
                [type]="BIZY_TAG_TYPE.WARNING">
                <h6>{{neighbor.group}}</h6>
                <h6><i [bizyLoading]="securityLoading" class="fa-solid fa-shield-halved"></i></h6>
            </bizy-tag>

            <bizy-section-start slot="footer-start" *ngIf="neighbor.alarmNumber">
                <h6><strong>{{'CORE.FORM.FIELD.ALARM_CONTROLS' | translate}}:</strong></h6>
                <bizy-tag *ngFor="let control of neighbor.alarmControls">
                    <h6><i class="fa-solid fa-mobile-retro"></i></h6>
                    <h6>{{control}}</h6>
                </bizy-tag>
            </bizy-section-start>

            <bizy-tag 
                slot="footer-end"
                [type]="BIZY_TAG_TYPE.INFO">
                <h6><i class="fa-solid fa-location-dot"></i></h6>
                <h6>{{neighbor.lot}}</h6>
            </bizy-tag>

        </bizy-card>

    </bizy-grid>

    <bizy-grid *ngIf="loading" class="animated fade-in">

        <bizy-card *gridFor="let i of neighbors.length > 0 ? neighbors : 30 | bizyRepeat">
    
            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>
    
            <bizy-list slot="header-start">
    
                <bizy-skeleton></bizy-skeleton>
    
                <bizy-skeleton></bizy-skeleton>
    
            </bizy-list>
    
        </bizy-card>

    </bizy-grid>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.INFO" 
        class="animated fade-in tero-no-matches"
        *ngIf="neighbors.length !== 0 && (neighbors 
                                            | bizySearch: search : searchKeys
                                            | bizySearch: lotSearch : 'lot'
                                            | bizySearch: surnameSearch : 'surname'
                                            | bizySearch: nameSearch : 'name'
                                            | bizyFilter : 'alarmNumber' : filterAlarmControls
                                            | bizyFilter : 'group' : filterGroups).length === 0">
        <h4 class="tero-no-matches__text">{{'CORE.NO_MATCHES' | translate}}</h4>
    </bizy-tag>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.WARNING"
        class="animated fade-in tero-no-matches"
        *ngIf="!loading && neighbors.length === 0">
        <h4 class="tero-no-matches__text">{{'NEIGHBORS.EMPTY' | translate}}</h4>
    </bizy-tag>

</tero-wrapper>