<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'NEIGHBORS.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" [bizyLoading]="csvLoading" (onSelect)="export()"><h2><i class="fa-solid fa-file-arrow-down"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig" (onSelect)="addNeighbor()"><h2><i class="fa-solid fa-user-plus"></i></h2></bizy-button>

</bizy-toolbar>

<div class="tero-wrapper">

    <span class="tero-section">

        <span class="tero-section__start">

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((neighbors 
                    | bizySearch: search : ['group', 'lot', 'surname', 'name']
                    | bizySearch: lotSearch : 'lot'
                    | bizySearch: surnameSearch : 'surname'
                    | bizySearch: nameSearch : 'name'
                    | bizyFilter : 'group' : filterGroups).length + '/' + neighbors.length) : neighbors.length">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

        </span>

        <span class="tero-section__end">

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="!isMobile">
                <h6 slot="header" class="tero-title"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </span>

    </span>

    <bizy-table [bizyLoading]="loading">

        <bizy-table-header>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="onSort('group')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <i class="fa-solid fa-filter"></i>

                    <bizy-filter-section>
                        <h4 filter-section-title><strong>{{ 'CORE.FORM.FIELD.GROUP' | translate }}</strong></h4>
                        <bizy-filter-section-checkbox-option 
                            *ngFor="let group of filterGroups"
                            [selected]="group.selected"
                            (onChange)="group.selected = $event; refresh()">
                            <h5>{{group.value}}</h5>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.GROUP' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'group'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="onSort('lot')">
                <bizy-filter class="hidden-xs" (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <bizy-filter-section>
                        <h4 filter-section-title><strong>{{ 'CORE.FORM.FIELD.LOT' | translate }}</strong></h4>
                        <bizy-filter-section-search-option 
                            [(value)]="lotSearch"
                            (onChange)="refresh()">
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.LOT' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'lot'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('surname')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                        
                    <h6><i class="fa-solid fa-magnifying-glass"></i></h6>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'CORE.FORM.FIELD.SURNAME' | translate }}</strong></h6>

                        <bizy-filter-section-search-option 
                            [(value)]="surnameSearch"
                            (onChange)="refresh()">

                            <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
                            
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.SURNAME' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'surname'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('name')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                        
                    <h6><i class="fa-solid fa-magnifying-glass"></i></h6>

                    <bizy-filter-section>
                        <h6 slot="header" class="tero-title"><strong>{{ 'CORE.FORM.FIELD.NAME' | translate }}</strong></h6>

                        <bizy-filter-section-search-option 
                            [(value)]="nameSearch"
                            (onChange)="refresh()">

                            <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
                            
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.NAME' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'name'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 1, width: '2rem'}"></bizy-table-column>
    
        </bizy-table-header>
    
        <bizy-table-row *tableFor="let neighbor in: neighbors 
                                                    | bizySearch: search : ['group', 'lot', 'surname', 'name']
                                                    | bizySearch: lotSearch : 'lot'
                                                    | bizySearch: surnameSearch : 'surname'
                                                    | bizySearch: nameSearch : 'name'
                                                    | bizyFilter : 'group' : filterGroups
                                                    | bizyOrderBy: order : orderBy">
    
            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.group || '---'}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.lot}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.surname}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.name}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 1, width: '2rem'}" (onSelect)="removeNeighborFromSecurity(neighbor)">
                <bizy-tag *ngIf="neighbor.security" [type]="BIZY_TAG_TYPE.WARNING"><i [bizyLoading]="securityLoading" class="fa-solid fa-shield-halved"></i></bizy-tag>
            </bizy-table-column>

        </bizy-table-row>
    
    </bizy-table>

</div>