<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'NEIGHBORS.TITLE' | translate}}</h1>

    <h2 slot="end" (click)="export()"><i class="fa-solid fa-file-arrow-down tero-toolbar__icon"></i></h2>

    <h2 slot="end" (click)="addNeighbor()"><i class="fa-solid fa-user-plus tero-toolbar__icon"></i></h2>

</bizy-toolbar>

<div class="neighbors tero-wrapper">

    <span class="tero-section">

        <span class="tero-counter">

            <span class="tero-counter__section">
                <h4 class="tero-title">{{'CORE.TOTAL' | translate}}:</h4>
                <h4><strong>{{(neighbors 
                                | bizySearch: search : ['group', 'lot', 'surname', 'name']
                                | bizySearch: lotSearch : 'lot'
                                | bizySearch: surnameSearch : 'surname'
                                | bizySearch: nameSearch : 'name'
                                | bizyFilter : 'group' : filterGroups).length}}/{{neighbors.length}}</strong></h4>
            </span>

        </span>

        <span class="tero-section__end">

            <bizy-input 
                label="{{'CORE.FORM.FIELD.SEARCH' | translate}}"
                [(value)]="search"
                (onChange)="checkFilters(!!search)">

                <span input-start><i class="fa-solid fa-magnifying-glass"></i>&nbsp;</span>

            </bizy-input>
    
        </span>

    </span>

    <bizy-table [bizyLoading]="loading">

        <bizy-table-header>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="onSort('group')">

                <bizy-filter (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <i class="fa-solid fa-filter"></i>

                    <bizy-filter-section>
                        <h4 filter-section-title><strong>{{ 'CORE.FORM.FIELD.GROUP' | translate }}</strong></h4>
                        <bizy-filter-section-checkbox-option 
                            *ngFor="let group of filterGroups"
                            [id]="group.id"
                            [selected]="group.selected"
                            (onChange)="group.selected = $event; refresh()">
                            <h5>{{group.value}}</h5>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.GROUP' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'group'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="onSort('lot')">
                <bizy-filter class="hidden-xs" (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <bizy-filter-section>
                        <h4 filter-section-title><strong>{{ 'CORE.FORM.FIELD.LOT' | translate }}</strong></h4>
                        <bizy-filter-section-search-option 
                            [(value)]="lotSearch"
                            (onChange)="refresh()">
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.LOT' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'lot'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('surname')">
                <bizy-filter class="hidden-xs" (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <bizy-filter-section>
                        <h4 filter-section-title><strong>{{ 'CORE.FORM.FIELD.SURNAME' | translate }}</strong></h4>
                        <bizy-filter-section-search-option 
                            [(value)]="surnameSearch"
                            (onChange)="refresh()">
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.SURNAME' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'surname'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('name')">
                <bizy-filter class="hidden-xs" (onOpen)="$event.stopPropagation()" (onChange)="checkFilters($event)">
                    
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <bizy-filter-section>
                        <h4 filter-section-title><strong>{{ 'CORE.FORM.FIELD.NAME' | translate }}</strong></h4>
                        <bizy-filter-section-search-option 
                            [(value)]="nameSearch"
                            (onChange)="refresh()">
                        </bizy-filter-section-search-option>
                    </bizy-filter-section>

                </bizy-filter>

                <h5><strong>{{'CORE.FORM.FIELD.NAME' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'name'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 1, minWidth: '1rem'}"></bizy-table-column>
    
        </bizy-table-header>
    
        <bizy-table-row *tableFor="let neighbor in: neighbors 
                                                    | bizySearch: search : ['group', 'lot', 'surname', 'name']
                                                    | bizySearch: lotSearch : 'lot'
                                                    | bizySearch: surnameSearch : 'surname'
                                                    | bizySearch: nameSearch : 'name'
                                                    | bizyFilter : 'group' : filterGroups
                                                    | bizyOrderBy: order : orderBy">
    
            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.group || '---'}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 2}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.lot}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.surname}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editNeighbor(neighbor)"><h6>{{neighbor.name}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 1, minWidth: '1rem'}" (onSelect)="removeNeighborFromSecurity(neighbor)">
                <bizy-tag *ngIf="neighbor.security" type="warning"><i [bizyLoading]="securityLoading" class="fa-solid fa-shield-halved"></i></bizy-tag>
            </bizy-table-column>

        </bizy-table-row>
    
    </bizy-table>

</div>