<bizy-content class="alarm-controls-popup">

    <bizy-section>

        <bizy-section-center>

            <h2 class="tero--info"><strong>{{'NEIGHBORS.ALARM_CONTROLS_POPUP.TITLE' | translate}}</strong></h2>

        </bizy-section-center>

    </bizy-section>

    <bizy-list>

        <bizy-card *ngFor="let c of controls" (onSelect)="setControl(c)" [ngClass]="{'alarm-controls-popup--selected': c.selected}">

            <h5 slot="header-start" [ngClass]="{'tero--info': c.selected}"><i class="fa-solid fa-mobile-retro"></i></h5>

            <h5 slot="header-start">{{'CORE.FORM.FIELD.ALARM_CONTROL' | translate}} {{c.value}}</h5>

            <bizy-checkbox slot="header-end" [selected]="c.selected"></bizy-checkbox>

        </bizy-card>

    </bizy-list>

</bizy-content>

<bizy-section class="tero-confirm-buttons">

    <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="close()">
        <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
    </bizy-button>

    <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="apply()">
        <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
        <h5><i class="fa-solid fa-check"></i></h5>
    </bizy-button>
        
</bizy-section>
