.popup__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.popup__header .tero--info {
  text-align: center;
}

.popup__header__msg {
  text-align: center;
}