<tero-wrapper>

    <span class="popup__header">
    
        <h1 class="tero--info">{{title}}</h1>

        <h3 class="popup__header__msg">{{msg}}</h3>
    
    </span>
    
    <bizy-section>

        <bizy-section-center>

            <bizy-button class="tero-button--danger" (onSelect)="close()">
                <h5><i class="fa-solid fa-xmark"></i></h5>
                <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
            </bizy-button>

        </bizy-section-center>

        <bizy-section-center>

            <bizy-button type="submit" class="tero-button--accent" (onSelect)="apply()">
                <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
                <h5><i class="fa-solid fa-check"></i></h5>
            </bizy-button>
            
        </bizy-section-center>

    </bizy-section>
    
</tero-wrapper>
