:host {
  --bizy-input-background-color: var(--dark-input-background-color);
  --bizy-select-background-color: var(--dark-input-background-color);
}

.milestone-popup__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  align-items: center;
}
