<bizy-form>

    <span class="milestone-popup__header">

        <h1 class="tero--info">{{'TOPICS.TOPIC_DATA_POPUP.TITLE' | translate}}</h1>

    </span>

    <bizy-select>
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.DATA_TYPE' | translate}}</strong></h6>

        <bizy-select-option 
            *ngFor="let tdt of TOPIC_DATA_TYPE | bizyEnumToArray"
            [selected]="type.value === tdt.value"
            (onSelect)="setDataType(tdt.value)">
            <h6>{{'CORE.TOPIC_DATA_TYPE.' + tdt.key | translate}}</h6>
        </bizy-select-option>
    </bizy-select>

    <bizy-input
        #keyInput
        [value]="key.value"
        (onChange)="key.setValue($event)">
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.DESCRIPTION' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="key.hasError('required') && keyInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="key.hasError('maxlength') && keyInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
    </bizy-input>

    <bizy-input
        #valueInput
        [type]="dataType"
        [value]="value.value"
        (onChange)="value.setValue($event)">
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.VALUE' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="value.hasError('required') && valueInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="value.hasError('maxlength') && valueInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{MAX_LENGTH}}</h6>
    </bizy-input>
    
    <bizy-section>

        <bizy-section-center>

            <bizy-button class="tero-button--danger" (onSelect)="close()">
                <h5><i class="fa-solid fa-xmark"></i></h5>
                <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
            </bizy-button>

        </bizy-section-center>

        <bizy-section-center>

            <bizy-button type="submit" class="tero-button--accent" (onSelect)="apply()">
                <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
                <h5><i class="fa-solid fa-check"></i></h5>
            </bizy-button>
            
        </bizy-section-center>

    </bizy-section>

</bizy-form>
