<bizy-form>

    <bizy-section-center>
        <h4 class="tero--info"><strong>{{'ACCOUNT.USER_PHONE_POPUP.TITLE' | translate}}</strong></h4>
    </bizy-section-center>

    <bizy-input
        #phoneInput
        [autofocus]="true"
        [value]="phone.value"
        type="tel"
        (onChange)="phone.setValue($event)">
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.PHONE' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="phone.hasError('required') && phoneInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
        <h6 slot="error" *ngIf="phone.hasError('minlength') && phoneInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{PHONE_MIN_LENGTH}}</h6>
        <h6 slot="error" *ngIf="phone.hasError('maxlength') && phoneInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{PHONE_MAX_LENGTH}}</h6>
    </bizy-input>

    <bizy-section>

        <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="close()">
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>
    
        <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="apply()">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>
            
    </bizy-section>

</bizy-form>
