<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"  [disabled]="loading"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'ADD_ACCOUNT_MESSAGE.TITLE' | translate}}</h1>

    <span slot=start [bizyLoading]="loading"></span>

</bizy-toolbar>

<tero-wrapper>

    <bizy-form>

        <bizy-input
            #usersInput
            [disabled]="loading"
            [value]="!users.value || users.value.length === 0 ? ('CORE.FORM.FIELD.NO_TO' | translate) : ''"
            (onSelect)="openUsersPopup()"
            [readonly]="true">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.TO' | translate}}</strong></h6>

            <bizy-tag slot="prefix" *ngFor="let u of users.value" [type]="BIZY_TAG_TYPE.INFO">
                <h6>{{u.name}}</h6>
            </bizy-tag>

        </bizy-input>

        <bizy-input
            #titleInput
            [disabled]="loading"
            [value]="title.value"
            (onChange)="title.setValue($event)">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.TITLE' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="title.hasError('required') && titleInput.touched">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</h6>
            <h6 slot="error" *ngIf="title.hasError('minlength') && titleInput.touched">{{'CORE.FORM.ERROR.MIN_LENGTH' | translate}}: {{NAME_MIN_LENGTH}}</h6>
            <h6 slot="error" *ngIf="title.hasError('maxlength') && titleInput.touched">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
        </bizy-input>
    
        <bizy-input
            type="textarea"
            [disabled]="loading"
            [value]="body.value"
            [rows]="14"
            (onChange)="body.setValue($event)">
            <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.BODY' | translate}}</strong></h6>
            <h6 slot="error" *ngIf="body.hasError('maxlength')">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{BODY_MAX_LENGTH}}</h6>
        </bizy-input>

    </bizy-form>
    
</tero-wrapper>

<bizy-section class="tero-confirm-buttons">

    <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="goBack()" [disabled]="loading">
        <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
    </bizy-button>

    <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="save()" [disabled]="loading">
        <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
        <h5><i class="fa-solid fa-check"></i></h5>
    </bizy-button>
        
</bizy-section>