<bizy-form>
    
    <bizy-section-center>
        <h1 class="tero--info tero-text--center">{{'REGISTER_PAYMENT_POPUP.TITLE' | translate}} {{neighbor ? neighbor.lot + ' - ' + neighbor.name + ' ' + neighbor.surname : ''}}</h1>
    </bizy-section-center>

    <bizy-input
        [value]="transactionId.value"
        (onChange)="transactionId.setValue($event)">
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.TRANSACTION_ID' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="transactionId.hasError('maxlength')">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
    </bizy-input>

    <bizy-input
        type="textarea"
        [value]="description.value"
        (onChange)="description.setValue($event)">
        <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.COMMENT' | translate}}</strong></h6>
        <h6 slot="error" *ngIf="description.hasError('maxlength')">{{'CORE.FORM.ERROR.MAX_LENGTH' | translate}}: {{NAME_MAX_LENGTH}}</h6>
    </bizy-input>

    <bizy-section>

        <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="close()">
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>
    
        <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="apply()">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>
            
    </bizy-section>

</bizy-form>
