.lot {
    border: 0.1rem solid var(--bizy-default-color);
    background-color: #fff;
    height: 2rem;
    width: 6rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.3rem;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

.lot__number {
    justify-self: end;
}

.lot__security {
    justify-self: start;
    color: var(--primary-color);
}