<div class="login-component">

  <div>
    <img class="login__logo" [ngClass]="{'shrink-logo': hideLogo}" src="assets/tero.png" alt="logo"/>
  </div>
  
  <form class="form-holder" [formGroup]="form">
    <span class="login-item">

      <mat-form-field floatLabel="always">
        <mat-label>{{'CORE.FORM.FIELD.EMAIL' | translate}}</mat-label>
        <input 
          #showHidePasswordInput
          matInput
          type="email"
          (blur)="hideLogo = false;"
          (focus)="hideLogo = true;"
          (keyup)="nextInput($event)"
          formControlName="email">
        <mat-error *ngIf="email.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="email.hasError('email')">{{'CORE.FORM.ERROR.EMAIL' | translate}}</mat-error>
      </mat-form-field>

    </span>

    <span class="login-item">
        <mat-form-field floatLabel="always">
          <mat-label>{{'CORE.FORM.FIELD.PASSWORD' | translate}}</mat-label>
            <input 
              [type]="showPassword ? 'text' : 'password'"
              matInput
              #showHidePasswordInput
              includeSuffix
              (blur)="hideLogo = false;"
              (focus)="hideLogo = true;"
              (keyup)="passwordEnter($event)"
              autocomplete="on"
              formControlName="password">
            <tero-show-hide-password matSuffix [(show)]="showPassword"></tero-show-hide-password>
            <mat-error *ngIf="password.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
        </mat-form-field>
    </span>
  </form>

  <button mat-raised-button [disabled]="form.invalid && form.touched" color="primary" class="submit-btn" (click)="onLogin()">{{'AUTH.LOGIN' | translate}}</button>

</div>

