.contact-picture-popup__pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  width: 100%;
  height: 70dvh;
  overflow-y: auto;
}

.contact-picture-popup__pictures__picture {
  height: 100%;
  width: 100%;
  position: relative;
}

.contact-picture-popup__pictures__picture__check {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.contact-picture-popup__pictures__picture__check * {
  color: #ffffff
}