<bizy-toolbar>

    <bizy-button slot="start" (onSelect)="goBack()" class="tero-action tero-action--info"><i class="fa-solid fa-angle-left"></i></bizy-button>

    <h1 slot=start>{{'TOPICS.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" *ngIf="isConfig || isNeighbor" (onSelect)="addTopic()"><h2><i class="fa-solid fa-square-plus"></i></h2></bizy-button>

</bizy-toolbar>

<tero-wrapper>

    <bizy-section>

        <bizy-section-end>

            <bizy-input 
                class="tero-counter"
                [readonly]="true"
                [value]="activatedFilters ? ((topics | bizySearch: search : searchKeys | bizyFilter : 'status' : filterStates).length + '/' + topics.length) : topics.length">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.TOTAL' | translate}}</strong></h6>
            </bizy-input>

            <bizy-input 
                [disabled]="loading"
                [(value)]="search"
                (onChange)="checkFilters(!!search)"
                [autofocus]="!isMobile">
                <h6 slot="header" class="tero--info"><strong>{{'CORE.FORM.FIELD.SEARCH' | translate}}</strong></h6>
                <h6 slot="prefix"><i class="fa-solid fa-magnifying-glass"></i></h6>
            </bizy-input>

            <bizy-button class="tero-button--success" [disabled]="loading" *ngIf="filterStates && filterStates.length > 0">
    
                <bizy-filter (onChange)="checkFilters($event)">
                    <h6><i class="fa-solid fa-filter"></i></h6>
                    
                    <bizy-filter-section>
                        <h6 slot="header" class="tero--info"><strong>{{ 'CORE.FORM.FIELD.STATE' | translate }}</strong></h6>

                        <bizy-filter-section-checkbox-option 
                            *ngFor="let state of filterStates | bizyOrderBy : 'asc' : 'value'" 
                            [selected]="state.selected"
                            (onChange)="state.selected = $event; refresh()">
                            <h6>{{state.value}}</h6>
                        </bizy-filter-section-checkbox-option>
                    </bizy-filter-section>

                </bizy-filter>
            </bizy-button>

            <bizy-button class="tero-button--warning" (onSelect)="onRemoveFilters()" [disabled]="loading || !activatedFilters">
                <h6><i class="fa-solid fa-filter-circle-xmark"></i></h6>
            </bizy-button>

        </bizy-section-end>

    </bizy-section>
    
    <span *ngIf="!loading" class="topics__cards animated fade-in">

        <bizy-card 
            (onSelect)="goToTopicMilestones(topic)"
            class="topics__cards__card"
            *ngFor="let topic of topics 
                                    | bizySearch: search : searchKeys
                                    | bizyFilter : 'status' : filterStates
                                    | bizyOrderBy: order : orderBy">

            <h4 slot="header-start" class="tero--info"><i class="fa-solid fa-bookmark"></i></h4>

            <h4 slot="header-start" class="tero--info"><strong>{{topic.title}}</strong></h4>

            <bizy-button 
                slot="header-end"
                *ngIf="topic._editEnabled"
                class="tero-action tero-action--info"
                (onSelect)="openDataPopup(topic); $event.stopPropagation()">
                <h4><i class="fa-solid fa-paperclip"></i></h4>
            </bizy-button>

            <bizy-button 
                slot="header-end"
                *ngIf="topic._editEnabled"
                class="tero-action tero-action--warning"
                (onSelect)="editTopic(topic); $event.stopPropagation()">
                <h4><i class="fa-solid fa-pencil-alt"></i></h4>
            </bizy-button>

            <span class="topics__card__content">

                <span class="topics__card__names">
                    <ng-container *ngFor="let name of topic._names; let i = index">
                        <bizy-tag *ngIf="i < 2"><h6>{{name}}</h6></bizy-tag>
                    </ng-container>
                </span>
    
                <h6 bizyTooltip [tooltipLineClamp]="5">{{topic.description}}</h6>

                <span class="topics__card__content__data" *ngFor="let data of topic.data; let j = index">

                    <span class="topics__card__content__data__key-value">
                        <h6 class="tero--info">{{data.key}}</h6>
                        <h6 bizyTooltip [tooltipLineClamp]="1">{{data.value}}</h6>
                    </span>

                    <span class="topics__card__content__data__actions">

                        <bizy-button 
                            class="tero-action tero-action--info"
                            (onSelect)="onCopyToClipboard(data.value); $event.stopPropagation()">
                            <h6><i class="fa-solid fa-copy"></i></h6>
                        </bizy-button>

                        <bizy-button 
                            *ngIf="data.type === TOPIC_DATA_TYPE.TEL"
                            class="tero-action tero-action--info"
                            (onSelect)="onCall(data.value); $event.stopPropagation()">
                            <h6><i class="fa-solid fa-phone"></i></h6>
                        </bizy-button>

                        <bizy-button 
                            *ngIf="data.type === TOPIC_DATA_TYPE.TEL"
                            class="tero-action tero-action--success"
                            (onSelect)="onWhatsapp(data.value); $event.stopPropagation()">
                            <h6><i class="fa-brands fa-whatsapp"></i></h6>
                        </bizy-button>

                        <bizy-button 
                            *ngIf="data.type === TOPIC_DATA_TYPE.LINK"
                            class="tero-action tero-action--info"
                            (onSelect)="onLink(data.value); $event.stopPropagation()">
                            <h6><i class="fa-solid fa-arrow-up-right-from-square"></i></h6>
                        </bizy-button>

                        <bizy-button 
                            *ngIf="data.type === TOPIC_DATA_TYPE.EMAIL"
                            class="tero-action tero-action--info"
                            (onSelect)="onEmail(data); $event.stopPropagation()">
                            <h6><i class="fa-solid fa-envelope"></i></h6>
                        </bizy-button>

                        <bizy-button 
                            *ngIf="topic._editEnabled"
                            class="tero-action tero-action--danger"
                            (onSelect)="deleteTopicData(topic, j); $event.stopPropagation()">
                            <h6><i class="fa-solid fa-trash-alt"></i></h6>
                        </bizy-button>

                    </span>
        
                </span>

            </span>

            <bizy-tag 
                slot="footer-start" 
                *ngIf="topic.milestones.length === 0"
                [type]="BIZY_TAG_TYPE.DEFAULT">
                <h6>{{'TOPICS.NO_MILESTONES' | translate}}</h6>
            </bizy-tag>

            <bizy-tag 
                slot="footer-start" 
                *ngIf="topic.milestones.length > 0"
                [type]="BIZY_TAG_TYPE.INFO">
                <h6>{{'TOPICS.MILESTONES' | translate}}: {{topic.milestones.length}}</h6>
            </bizy-tag>

            <bizy-tag 
                slot="footer-end" 
                [type]="topic.status === TOPIC_STATE.STOPPED ? BIZY_TAG_TYPE.DEFAULT : topic.status === TOPIC_STATE.ACTIVE ? BIZY_TAG_TYPE.SUCCESS : topic.status === TOPIC_STATE.CLOSED ? BIZY_TAG_TYPE.DANGER : BIZY_TAG_TYPE.DEFAULT">
                <h6>{{'CORE.TOPIC_STATE.' + topic.status | translate}}</h6>
            </bizy-tag>

        </bizy-card>

    </span>

    <bizy-grid *ngIf="loading" class="animated fade-in">

        <bizy-card *gridFor="let i of topics.length > 0 ? topics : 30 | bizyRepeat">

            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>

            <bizy-list slot="header-start">

                <bizy-skeleton class="tero-skeleton-grid-card"></bizy-skeleton>

                <bizy-skeleton class="tero-skeleton-grid-card"></bizy-skeleton>

            </bizy-list>

            <bizy-skeleton class="tero-skeleton-grid-card"></bizy-skeleton>

            <bizy-skeleton slot="footer-start" class="tero-skeleton-grid-card"></bizy-skeleton>

            <bizy-skeleton slot="footer-end" class="tero-skeleton-grid-card"></bizy-skeleton>

        </bizy-card>

    </bizy-grid>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.INFO" 
        class="animated fade-in tero-no-matches"
        *ngIf="topics.length !== 0 && (topics 
                                        | bizySearch: search : searchKeys
                                        | bizyFilter : 'status' : filterStates).length === 0">
        <h4 class="tero-no-matches__text">{{'CORE.NO_MATCHES' | translate}}</h4>
    </bizy-tag>

    <bizy-tag 
        [type]="BIZY_TAG_TYPE.WARNING"
        class="animated fade-in tero-no-matches"
        *ngIf="!loading && topics.length === 0">
        <h4 class="tero-no-matches__text">{{'TOPICS.EMPTY' | translate}}</h4>
    </bizy-tag>

</tero-wrapper>