:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  --bizy-grid-row-height: 8rem;
}

.topics__cards__card {
  --bizy-card-cursor: pointer;
  --bizy-card-height: fit-content;
}

.topics__card__content__data {
  --bizy-card-border: 0.1rem solid var(--bizy-info-color);
  --bizy-card-padding: 0.3rem;
  --bizy-section-end-column-gap: 0;
  --bizy-list-row-gap: 0;
}