<bizy-content class="user-roles-popup">

    <bizy-section>

        <bizy-section-center>

            <h2 class="tero--info"><strong>{{'USERS.USER_ROLES_POPUP.TITLE' | translate}}</strong></h2>

        </bizy-section-center>

    </bizy-section>

    <bizy-list>

        <bizy-card *ngFor="let r of roles" (onSelect)="setRole(r)" [ngClass]="{'user-roles-popup--selected': r.selected}">

            <h5 slot="header-start" class="tero--info"><i class="fa-solid fa-user"></i></h5>

            <h5 slot="header-start">{{'CORE.USER_ROLE.' + r.value | translate}}</h5>

            <bizy-checkbox slot="header-end" [selected]="r.selected"></bizy-checkbox>

        </bizy-card>

    </bizy-list>

</bizy-content>

<bizy-section class="tero-confirm-buttons">

    <bizy-button class="tero-confirm-buttons__cancel" (onSelect)="close()">
        <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
    </bizy-button>

    <bizy-button type="submit" class="tero-confirm-buttons__confirm" (onSelect)="apply()">
        <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
        <h5><i class="fa-solid fa-check"></i></h5>
    </bizy-button>
        
</bizy-section>
