:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  --bizy-tab-background-color: #fff;
  --bizy-tab-selected-color: var(--bizy-dark-warning-color);
  --bizy-tab-selected-background-color: var(--bizy-light-warning-color);
  --bizy-tab-selected-bar-color: var(--bizy-dark-warning-color);
  --bizy-tab-padding: 0.7rem;
}