<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'DASHBOARD.TITLE' | translate}}</h1>

    <bizy-button slot="end" [disabled]="loading" class="tero-toolbar-action" *ngIf="isNeighbor" (onSelect)="showGarbageTruckPopup()"><h2><i class="fa-solid fa-truck"></i></h2></bizy-button>

</bizy-toolbar>

<tero-wrapper>

    <ng-container *ngIf="loading">

        <bizy-card>

            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>

            <bizy-list slot="header-start">

                <bizy-skeleton width="12rem"></bizy-skeleton>

                <bizy-skeleton width="12rem"></bizy-skeleton>

            </bizy-list>

            <bizy-list>

                <bizy-skeleton width="12rem"></bizy-skeleton>

                <bizy-skeleton width="12rem"></bizy-skeleton>

            </bizy-list>

            <bizy-skeleton slot="footer-start" width="12rem"></bizy-skeleton>

            <bizy-skeleton slot="footer-end" width="12rem"></bizy-skeleton>

        </bizy-card>

        <bizy-card *ngFor="let i of 2 | bizyRepeat">

            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>

            <bizy-list slot="header-start">

                <bizy-skeleton width="12rem"></bizy-skeleton>

                <bizy-skeleton width="12rem"></bizy-skeleton>

            </bizy-list>

        </bizy-card>

    </ng-container>

    <ng-container *ngIf="!loading">
        
        <bizy-card (onSelect)="goToSecurity()" *ngIf="showInfo" [ngClass]="{'dashboard__security--no-debt': securityNoDebt}">
    
            <h4 slot="header-start" class="dashboard__header__icon"><i class="fa-solid fa-shield-halved"></i></h4>
    
            <h4 slot="header-start">{{'DASHBOARD.SECURITY.TITLE' | translate}}</h4>
    
            <bizy-tag slot="header-end" [type]="securityNoDebt ? BIZY_TAG_TYPE.SUCCESS : BIZY_TAG_TYPE.WARNING">
                <h5><i class="fa-solid fa-user"></i></h5>
                <h4 [bizyLoading]="loading">${{membershipFee ? (membershipFee | number : '1.2-2') : '0.00'}}</h4>
            </bizy-tag>
    
            <span class="dashboard__security__content">
    
                <span class="dashboard__security__content__section">
    
                    <h6>{{'DASHBOARD.SECURITY.MEMBERS' | translate}}</h6>
    
                    <bizy-tag><h6 [bizyLoading]="loading">{{members}}</h6></bizy-tag>
    
                </span>
    
                <span class="dashboard__security__content__section">
    
                    <h6>{{'DASHBOARD.SECURITY.SECURITY_FEE' | translate}}</h6>
    
                    <bizy-tag><h6 [bizyLoading]="loading">${{securityFee ? (securityFee | number : '1.2-2') : '0.00'}}</h6></bizy-tag>
    
                </span>
    
            </span>
    
            <bizy-tag 
                slot="footer-start"
                *ngFor="let group of groups"
                (onSelect)="setGroupDebt(group, $event)"
                [type]="group.debt ? BIZY_TAG_TYPE.DANGER : BIZY_TAG_TYPE.SUCCESS">
                <h6 [bizyLoading]="loading"><i class="fa-solid fa-users"></i></h6>
            </bizy-tag>
    
            <bizy-button slot="footer-end" class="tero-action tero-action--info tero-no-padding" (onSelect)="goToSecurity()">
                <h6><i class="fa-solid fa-plus"></i></h6>
                <h6>{{'CORE.MORE_INFO' | translate}}</h6>
            </bizy-button>
    
        </bizy-card>
    
        <bizy-card (onSelect)="goToEcommerce()" *ngIf="showInfo">
    
            <h4 slot="header-start" class="dashboard__header__icon"><i class="fa-solid fa-cart-shopping"></i></h4>
    
            <h4 slot="header-start">{{'DASHBOARD.ECOMMERCE.TITLE' | translate}}</h4>
    
            <h6 slot="footer-start">{{products.length}} {{'DASHBOARD.ECOMMERCE.PRODUCTS_FOR_SALE' | translate}}</h6>
    
            <bizy-button slot="footer-end" class="tero-action tero-action--info tero-no-padding" (onSelect)="goToEcommerce()">
                <h6><i class="fa-solid fa-plus"></i></h6>
                <h6>{{'CORE.MORE_INFO' | translate}}</h6>
            </bizy-button>
    
        </bizy-card>

        <bizy-card (onSelect)="goToTopics()" *ngIf="showInfo">
    
            <h4 slot="header-start" class="dashboard__header__icon"><i class="fa-solid fa-book-bookmark"></i></h4>
    
            <h4 slot="header-start">{{'DASHBOARD.TOPICS.TITLE' | translate}}</h4>
    
            <h6 slot="footer-start">{{topics.length}} {{'DASHBOARD.TOPICS.OPEN_TOPICS' | translate}}</h6>
    
            <bizy-button slot="footer-end" class="tero-action tero-action--info tero-no-padding" (onSelect)="goToTopics()">
                <h6><i class="fa-solid fa-plus"></i></h6>
                <h6>{{'CORE.MORE_INFO' | translate}}</h6>
            </bizy-button>
    
        </bizy-card>

    </ng-container>

</tero-wrapper>