.dashboard__security {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.dashboard__security__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
}

.dashboard__security__header__title {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.dashboard__security__header__icon {
    color: var(--primary-color);
}

.dashboard__security__header__fee {
    color: var(--accent-color);
}

.dashboard__security__content {
    display: flex;
    flex-direction: column;
}

.dashboard__security__content__contributor-fee {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 0.1em solid var(--default-color);
}

.dashboard__security__content__contributor-fee__value {
    font-size: 1em;
    color: var(--accent-color);
}

.dashboard__security__content__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
}

.dashboard__security__content__group__name {
    display: flex;
    align-items: center;
    column-gap: 0.3em;
}

.dashboard__security__content__group__name-value {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.dashboard__security__content__group__name-color--1 {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--group-1-color);
}

.dashboard__security__content__group__name-color--2 {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--group-2-color);
}

.dashboard__security__content__group__name-color--3 {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--group-3-color);
}

.dashboard__security__content__group__name-color--4 {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--group-4-color);
}

.dashboard__security__content__group__name-color--5 {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--group-5-color);
}

.dashboard__security__content__group__name-color--6 {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--group-6-color);
}

.dashboard__security__content__group__fee {
    font-size: 0.8em;
    color: var(--info-color);
}