:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  --bizy-list-row-gap: 1rem;
  --bizy-card-height: fit-content;
}

.notification-settings__card__title {
  margin-bottom: 0.5rem !important;
}