:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  --bizy-card-cursor: pointer;
}

.config {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16rem 4rem 4rem 4rem;
  gap: 1rem;
}

.config__credential__profile-pic {
  height: 3rem;
  border-radius: 50%;
}

.config__credential__membership-number {
  align-self: flex-start;
}

.config__credential__badge {
  color: var(--primary-color);
}

.config__icon--badge {
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--bizy-danger-color);
}