<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'CONFIG.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="openPopup()"><h2><i class="fa-solid fa-circle-info"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="onSignOut()"><h2><i class="fa-solid fa-right-from-bracket"></i></h2></bizy-button>

</bizy-toolbar>

<div class="config tero-wrapper" [bizyLoading]="loading">

    <bizy-card class="config__credential">
        
        <img *ngIf="profilePic" class="config__credential__profile-pic" card-header-start height="50" [src]="profilePic" alt="User picture"/>

        <tero-img *ngIf="!profilePic" class="config__credential__profile-pic" card-header-start [height]="50" alt="User picture"></tero-img>

        <h4 card-header-end class="config__credential__membership-number"><strong>Nº {{id}}</strong></h4>

        <span class="config__credential__content">

            <h3><strong>{{name}}</strong></h3>

            <h5>{{email}}</h5>

        </span>

        <bizy-tag card-footer-start [type]="statusTagType"><h5>{{('CONFIG.USER_STATUS.' + status) | translate}}</h5></bizy-tag>

        <h1 card-footer-end *ngIf="isConfig" class="config__credential__badge"><i class="fa-solid fa-certificate"></i></h1>

    </bizy-card>

    <bizy-card *ngIf="isConfig" (onSelect)="goToPendingUsers()">
        
        <span card-header-start class="config__requests">
            <h1 class="config__requests__icon"><i class="fa-solid fa-envelope"></i></h1>
    
            <span  *ngIf="pendingUsers.length > 0" class="config__requests__icon--badge"></span>
        </span>

        <h3 card-header-start><strong>{{'CONFIG.REQUESTS' | translate}}</strong></h3>

        <h5 card-header-start>({{pendingUsers.length > 9 ? '9+': pendingUsers.length}})</h5>

        <bizy-button card-header-end class="tero-action tero-action--info"><i class="fa-solid fa-chevron-right"></i></bizy-button>

    </bizy-card>


</div>