:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    --bizy-card-cursor: pointer;
}

.config {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14rem 4rem 1rem;
    gap: 1rem;
}

.config__credential__profile-pic {
    border-radius: 50%;
}

.config__credential__content {
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 0.3rem;
    padding-bottom: 0.5rem;
}

.config__credential__membership-number {
    align-self: flex-start;
}

.config__credential__badge {
    color: var(--primary-color);
}

.config__icon--badge {
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
    background-color: var(--danger-color);
}