<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'CONFIG.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="openAboutPopup()"><h2><i class="fa-solid fa-circle-info"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="onSignOut()"><h2><i class="fa-solid fa-right-from-bracket"></i></h2></bizy-button>

</bizy-toolbar>

<div class="tero-wrapper config">

    <ng-container *ngIf="loading">
        <bizy-skeleton-card *ngFor="let i of 2 | bizyRepeat"></bizy-skeleton-card>
    </ng-container>

    <ng-container *ngIf="!loading">

        <bizy-card class="config__card">
            
            <img 
                class="config__credential__profile-pic"
                slot="header-start"
                [src]="profilePic"
                loading="lazy"
                onerror="this.onerror=null; this.src='/assets/img/picture_user.svg'"
                alt="Imagen de usuario"/>

            <h4 slot="header-end" class="config__credential__membership-number"><strong>Nº {{currentUser ? currentUser.id : DEFAULT_USER_ID}}</strong></h4>

            <span class="config__credential__content">

                <h3><strong>{{currentUser?.name || name}}</strong></h3>

                <h5>{{currentUser?.email || email}}</h5>

                <bizy-button class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserPhonePopup()">
                    <h5 *ngIf="currentUser?.phone" class="tero-title"><i class="fa-solid fa-phone"></i></h5>
                    <h5>{{currentUser?.phone || ('CONFIG.ADD_PHONE' | translate)}}</h5>
                    <h5 *ngIf="!currentUser?.phone"><i class="fa-solid fa-circle-plus"></i></h5>
                </bizy-button>

                <bizy-button class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserLotPopup()">
                    <h5 *ngIf="currentUser?.lot" class="tero-title"><i class="fa-solid fa-location-dot"></i></h5>
                    <h5>{{currentUser?.lot ? ('CORE.FORM.FIELD.LOT' | translate) + ' ' + currentUser?.lot : ('CONFIG.ADD_LOT' | translate)}}</h5>
                    <h5 *ngIf="!currentUser?.lot"><i class="fa-solid fa-circle-plus"></i></h5>
                </bizy-button>

            </span>

            <bizy-tag slot="footer-start" *ngIf="currentUser && currentUser.status === USER_STATE.ACTIVE" [type]="BIZY_TAG_TYPE.SUCCESS"><h5>{{('CORE.USER_STATE.ACTIVE') | translate}}</h5></bizy-tag>
            <bizy-tag slot="footer-start" *ngIf="currentUser && currentUser.status === USER_STATE.SUSPENDED" [type]="BIZY_TAG_TYPE.WARNING"><h5>{{('CORE.USER_STATE.SUSPENDED') | translate}}</h5></bizy-tag>
            <bizy-tag slot="footer-start" *ngIf="currentUser && currentUser.status === USER_STATE.PENDING" [type]="BIZY_TAG_TYPE.INFO"><h5>{{('CORE.USER_STATE.PENDING') | translate}}</h5></bizy-tag>
            <bizy-tag slot="footer-start" *ngIf="currentUser && currentUser.status === USER_STATE.REJECTED" [type]="BIZY_TAG_TYPE.DANGER"><h5>{{('CORE.USER_STATE.REJECTED') | translate}}</h5></bizy-tag>

            <bizy-tag slot="footer-start" *ngFor="let role of currentUser?.roles"><h5>{{'CORE.USER_ROLE.' + role | translate}}</h5></bizy-tag>

            <h1 slot="footer-end" *ngIf="isConfig" class="config__credential__badge"><i class="fa-solid fa-certificate"></i></h1>

        </bizy-card>

        <bizy-card *ngIf="isConfig" (onSelect)="goToGarbageHistory()" class="config__card">
            
            <h1 slot="header-start" class="tero-title"><i class="fa-solid fa-truck"></i></h1>

            <h3 slot="header-start"><strong>{{'CONFIG.GARBAGE' | translate}}</strong></h3>

            <bizy-button slot="header-end" class="tero-action tero-action--info"><i class="fa-solid fa-chevron-right"></i></bizy-button>

        </bizy-card>

        <bizy-card *ngIf="isConfig" (onSelect)="goToUsers()" class="config__card">
            
            <h1 slot="header-start" class="tero-title"><i class="fa-solid fa-users"></i></h1>

            <h3 slot="header-start"><strong>{{'CONFIG.USERS' | translate}}</strong></h3>

            <h5 slot="header-start">({{users.length}})</h5>

            <span slot="header-start" *ngIf="pendingUsers.length > 0" class="config__icon--badge"></span>

            <h1 slot="header-start" *ngIf="isConfig && pendingUsers.length === 0" class="config__credential__badge"><i class="fa-solid fa-certificate"></i></h1>

            <bizy-button slot="header-end" class="tero-action tero-action--info"><i class="fa-solid fa-chevron-right"></i></bizy-button>

        </bizy-card>

    </ng-container>

</div>