:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  --bizy-card-cursor: pointer;
  --bizy-card-height: fit-content;
}

.config__credential__profile-pic-wrapper {
  position: relative;
}

.config__credential__profile-pic {
  height: 3rem;
  border-radius: 50%;
}

.config__credential__profile-pic__badge {
  position: absolute;
  bottom: -0.1rem;
  right: -0.1rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.2em;
  color: var(--primary-color);
}

.config__credential__membership-number {
  align-self: flex-start;
}

.config__credential__data {
  margin: 0.5rem 0;
}

.config__credential__badge {
  color: var(--primary-color);
}

.config__icon--badge {
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  background-color: var(--bizy-danger-color);
}