.home__bottom-bar {
  width: 100vw;
  height: auto;
  position: sticky;
  bottom: 0;
  background-color: #fff;
}

.home__bottom-bar--hidden ::ng-deep mat-tab-header {
  display: none !important;
}

.home__bottom-bar__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__bottom-bar__tab__icon {
  font-size: 1.2rem;
}

.home__toolbar {
  position: sticky;
  right: 0;
  top: 0;
  z-index: var(--top-bar-index);
  box-shadow: 1px 8px 15px -9px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 8px 15px -9px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 8px 15px -9px rgba(0, 0, 0, 0.57);
}

.home__toolbar__delete {
  color: var(--danger-color);
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}