<mat-toolbar class="home__toolbar">
  <img height="20" src="/assets/tero.png" alt="Tero logo"/>
  <h1>{{(home.title | async)! | translate}}</h1>
  <mat-icon *ngIf="(home.deleteFn | async)" (click)="home.delete()" class="home__toolbar__delete">delete</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-tab-group 
  headerPosition="below"
  class="home__bottom-bar"
  [animationDuration]="sideMenuIsOpen ? '0' : '300'"
  [selectedIndex]="selectedIndex"
  [ngClass]="{'home__bottom-bar--hidden': sideMenuIsOpen || (home.bottomBar | async)}"
  (selectedTabChange)="showOption($event)">
  
  <mat-tab *ngFor="let option of options">

    <ng-template mat-tab-label>
      <mat-icon class="home__bottom-bar__icon">{{option.icon}}</mat-icon>
      {{option.title | translate}}
    </ng-template>

  </mat-tab>

</mat-tab-group>