<div class="home">

  <bizy-sidebar class="home__sidebar" [toggle]="closedSidebar" (onToggle)="onToggle($event)">

    <bizy-sidebar-option slot="start">

      <span class="home__sidebar__header" [ngClass]="{'home__sidebar__option--closed': closedSidebar}">

        <img class="home__sidebar__header__logo" [src]="LOGO_PATH" alt="logo"/>

        <h1 class="home__sidebar__header__name" *ngIf="!closedSidebar">{{DESCRIPTION}}</h1>
      </span>

    </bizy-sidebar-option>

    <bizy-sidebar-option 
      *ngFor="let option of options"
      [(selected)]="option.selected"
      (onSelect)="onSelect(option)">

      <span class="home__sidebar__option__content" [ngClass]="{'home__sidebar__option--closed': closedSidebar}">

        <h4 [ngClass]="{'home__sidebar__option--selected': option.selected}"><i class="fa-solid {{option.icon}}"></i></h4>

        <h4 class="home__sidebar__option__label" [ngClass]="{'home__sidebar__option--selected': option.selected}" *ngIf="!closedSidebar">{{option.label | translate}}</h4>
      </span>

    </bizy-sidebar-option>

    <bizy-sidebar-option slot="end">
  
      <span class="home__sidebar__option__content" [ngClass]="{'home__sidebar__option--closed': closedSidebar}">
        <i *ngIf="!profilePic" class="fa-solid fa-user-circle"></i>
        <img *ngIf="profilePic" class="home__sidebar__option__profile-pic" src="{{profilePic}}" alt="profile_pic"/>
  
        <h6 class="home__sidebar__option__label" *ngIf="!closedSidebar">{{email}}</h6>
      </span>

    </bizy-sidebar-option>

  </bizy-sidebar>
    
  <div class="home__content">

      <span class="home__content__router-outlet">
          <router-outlet></router-outlet>
      </span>

      <bizy-tabs class="home__tabs">

          <bizy-tab 
            class="home__tabs__tab"
            *ngFor="let option of options"
            linePosition="top"
            [(selected)]="option.selected"
            (onSelect)="onSelect(option)">

            <h5 [ngClass]="{'home__tabs__tab--selected': option.selected}"><i class="fa-solid {{option.icon}}"></i></h5>
        
            <h5 [ngClass]="{'home__tabs__tab--selected': option.selected}">{{option.label | translate}}</h5>
        
          </bizy-tab>
        
      </bizy-tabs>
  
  </div>

</div>
