<bizy-toolbar>

    <img slot=start class="tero-logo" [src]="LOGO_PATH" alt="logo"/>

    <h1 slot=start>{{'ACCOUNT.TITLE' | translate}}</h1>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="openAboutPopup()"><h2><i class="fa-solid fa-circle-info"></i></h2></bizy-button>

    <bizy-button slot="end" class="tero-toolbar-action" (onSelect)="onSignOut()"><h2><i class="fa-solid fa-right-from-bracket"></i></h2></bizy-button>

</bizy-toolbar>

<tero-wrapper>

    <ng-container *ngIf="loading">

        <bizy-card>

            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>

            <bizy-list slot="header-start">

                <bizy-skeleton></bizy-skeleton>

                <bizy-skeleton></bizy-skeleton>

            </bizy-list>

            <bizy-list>

                <bizy-skeleton></bizy-skeleton>

                <bizy-skeleton></bizy-skeleton>

                <bizy-skeleton></bizy-skeleton>

                <bizy-skeleton></bizy-skeleton>

            </bizy-list>

            <bizy-skeleton slot="footer-start"></bizy-skeleton>

            <bizy-skeleton slot="footer-end"></bizy-skeleton>

        </bizy-card>

        <bizy-card *ngFor="let i of 2 | bizyRepeat">

            <bizy-skeleton slot="header-start" [shape]="BIZY_SKELETON_SHAPE.CIRCLE" height="3rem" width="3rem"></bizy-skeleton>

            <bizy-list slot="header-start">

                <bizy-skeleton></bizy-skeleton>

                <bizy-skeleton></bizy-skeleton>

            </bizy-list>

        </bizy-card>

    </ng-container>

    <ng-container *ngIf="!loading">

        <bizy-card class="config__card">
            

            <span slot="header-start" class="config__credential__profile-pic-wrapper">

                <img 
                    class="config__credential__profile-pic"
                    [src]="profilePic"
                    loading="lazy"
                    onerror="this.onerror=null; this.src='/assets/img/picture_user.svg'"
                    alt="Imagen de usuario"/>

                    <h6 *ngIf="isConfig" class="config__credential__profile-pic__badge "><i class="fa-solid fa-crown"></i></h6>

            </span>


            <h4 slot="header-end" class="config__credential__membership-number"><strong>Nº {{currentUser ? currentUser.id : DEFAULT_USER_ID}}</strong></h4>

            <bizy-list>

                <bizy-section-start *ngIf="currentUser">

                    <h3 *ngIf="currentUser.name"><strong>{{currentUser.name}}</strong></h3>

                    <bizy-button *ngIf="currentUser.name" class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserNamePopup()">
                        <h5><i class="fa-solid fa-pencil-alt"></i></h5>
                    </bizy-button>

                    <bizy-button *ngIf="!currentUser.name" class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserNamePopup()">
                        <h5>{{'ACCOUNT.ADD_NAME' | translate}}</h5>
                        <h5><i class="fa-solid fa-circle-plus"></i></h5>
                    </bizy-button>

                </bizy-section-start>

                <h3 *ngIf="!currentUser"><strong>{{name}}</strong></h3>

                <h5>{{currentUser?.email || email}}</h5>

                <bizy-list class="config__credential__data">

                    <bizy-button class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserPhonePopup()">
                        <h5 *ngIf="currentUser?.phone" class="tero--info"><i class="fa-solid fa-phone"></i></h5>
                        <h5>{{currentUser?.phone || ('ACCOUNT.ADD_PHONE' | translate)}}</h5>
                        <h5 *ngIf="!currentUser?.phone"><i class="fa-solid fa-circle-plus"></i></h5>
                    </bizy-button>
    
                    <bizy-button class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserLotPopup()">
                        <h5 *ngIf="currentUser?.lot" class="tero--info"><i class="fa-solid fa-location-dot"></i></h5>
                        <h5>{{currentUser?.lot ? ('CORE.FORM.FIELD.LOT' | translate) + ' ' + currentUser?.lot : ('ACCOUNT.ADD_LOT' | translate)}}</h5>
                        <h5 *ngIf="!currentUser?.lot"><i class="fa-solid fa-circle-plus"></i></h5>
                    </bizy-button>
    
                    <bizy-button class="tero-action tero-action--info tero-no-padding" (onSelect)="openUserAliasCBUPopup()">
                        <h5 *ngIf="currentUser?.aliasCBU" class="tero--info"><i class="fa-solid fa-building-columns"></i></h5>
                        <h5>{{currentUser?.aliasCBU ? ('CORE.FORM.FIELD.ALIAS_CBU' | translate) + ' ' + currentUser?.aliasCBU : ('ACCOUNT.ADD_ALIAS_CBU' | translate)}}</h5>
                        <h5 *ngIf="!currentUser?.aliasCBU"><i class="fa-solid fa-circle-plus"></i></h5>
                    </bizy-button>

                </bizy-list>


            </bizy-list>

            <bizy-tag slot="footer-start" *ngFor="let role of currentUser?.roles"><h5>{{'CORE.USER_ROLE.' + role | translate}}</h5></bizy-tag>

            <bizy-tag slot="footer-end" *ngIf="currentUser && currentUser.status === USER_STATE.ACTIVE" [type]="BIZY_TAG_TYPE.SUCCESS"><h5>{{('CORE.USER_STATE.ACTIVE') | translate}}</h5></bizy-tag>
            <bizy-tag slot="footer-end" *ngIf="currentUser && currentUser.status === USER_STATE.SUSPENDED" [type]="BIZY_TAG_TYPE.WARNING"><h5>{{('CORE.USER_STATE.SUSPENDED') | translate}}</h5></bizy-tag>
            <bizy-tag slot="footer-end" *ngIf="currentUser && currentUser.status === USER_STATE.PENDING" [type]="BIZY_TAG_TYPE.INFO"><h5>{{('CORE.USER_STATE.PENDING') | translate}}</h5></bizy-tag>
            <bizy-tag slot="footer-end" *ngIf="currentUser && currentUser.status === USER_STATE.REJECTED" [type]="BIZY_TAG_TYPE.DANGER"><h5>{{('CORE.USER_STATE.REJECTED') | translate}}</h5></bizy-tag>

        </bizy-card>

        <bizy-card *ngIf="isNeighbor" (onSelect)="goToNotificationSettings()" class="config__card">
            
            <h1 slot="header-start" class="tero--info"><i class="fa-solid fa-bell"></i></h1>

            <h3 slot="header-start"><strong>{{'ACCOUNT.NOTIFICATIONS' | translate}}</strong></h3>

            <bizy-button slot="header-end" class="tero-action tero-action--info"><i class="fa-solid fa-chevron-right"></i></bizy-button>

        </bizy-card>

        <bizy-card *ngIf="isConfig" (onSelect)="goToUsers()" class="config__card">
            
            <h1 slot="header-start" class="tero--info"><i class="fa-solid fa-users"></i></h1>

            <h3 slot="header-start"><strong>{{'ACCOUNT.USERS' | translate}}</strong></h3>

            <h5 slot="header-start">({{users.length}})</h5>

            <span slot="header-start" *ngIf="pendingUsers.length > 0" class="config__icon--badge"></span>

            <h4 slot="header-start" *ngIf="pendingUsers.length === 0" class="config__credential__badge"><i class="fa-solid fa-crown"></i></h4>

            <bizy-button slot="header-end" class="tero-action tero-action--info"><i class="fa-solid fa-chevron-right"></i></bizy-button>

        </bizy-card>

    </ng-container>

</tero-wrapper>